<%include common/header.html%>
    <article>
        <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">关于我</a></h3>
        <div class="about">
            <h2>Just about me</h2>
            <ul>
                <p>待定……</p>
                <p>待定……</p>
                <p>待定……</p>
                <p>待定……</p>
            </ul>
            <h2>About my blog</h2>
            <ul class="blog_a">
                <p>域  名：www.hezhe.pw 创建于2015年09月12日 <a href="http://www.net.cn/domain/" class="blog_link" target="_blank">注册域名</a><a class="blog_link" href="http://koubei.baidu.com/womc/s/www.hezhe.pw" target="_blank">邀你点评</a></p>
                <p>服务器：阿里云服务器<a href="http://www.aliyun.com/product/ecs/" class="blog_link" target="_blank">购买空间</a>
                <p>程  序：Node</p>
                <p>微信公众号：暂未开通</p>
            </ul>
        </div>
    </article>
    <aside>
        <%include common/about.html%>
        <%include common/design.html%>
    </aside>
<%include common/footer.html%>
