<%include common/header.html%>
    <article>
        <h2 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">素年锦时</a></h2>
        <div class="bloglist">
            <!--s-->
            <div class="newblog">
                <ul>
                    <h3><a href="/">个人博客从简不繁</a></h3>
                    <div class="autor"><span>作者：杨青</span><span>分类：[<a href="/">日记</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
                    <p>十一月中旬开始，排名突然下降了，网站“个人博客”关键词排名从第一页第二名滑落到100页以后了，个人博客这个关键词百度已经搜不到了，仅有google、搜狗... <a href="/" target="_blank" class="readmore">全文</a></p>
                </ul>
                <figure><img src="images/001.jpg" ></figure>
                <div class="dateview">2014-04-08</div>
            </div>
            <!--e-->
        </div>
        <div class="page"><a title="Total record"><b>113</b></a><b>1</b><a href="/">2</a><a href="/">3</a><a href="/">4</a><a href="/">5</a><a href="/">&gt;</a><a href="/">&gt;&gt;</a></div>
    </article>
    <aside>
        <%include common/recommend.html%>
        <%include common/design.html%>
    </aside>
<%include common/footer.html%>