<%include common/header.html%>
    <article>
        <h2 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">技术分享</a></h2>
        <div class="template">
            <h3>
                <p><span>css</span></p>
                <a href="/" class="more">更多>></a> </h3>
            <ul>
                <!--s-->
                <li><a href="/"  target="_blank"><img src="images/t00.jpg"></a><span>黑色Html5个人博客模板主题《如影随形》</span></li>
                <!--e-->
            </ul>
            <h3>
                <p><span>javascript</span></p>
                <a href="/" class="more">更多>></a> </h3>
            <ul>
                <!--s-->
                <li><a href="/"  target="_blank"><img src="images/01.jpg"></a><span>仿新浪博客风格梅</span></li>
                <!--e-->
            </ul>
            <h3>
                <p><span>other</span></p>
                <a href="/" class="more">更多>></a> </h3>
            <ul>
                <!--s-->
                <li><a href="/"  target="_blank"><img src="images/03.jpg"></a><span>Green绿色小清新的夏天-个人博客模板</span></li>
                <!--e-->
            </ul>
        </div>
        <div class="page"><a title="Total record"><b>113</b></a><b>1</b><a href="/">2</a><a href="/">3</a><a href="/">4</a><a href="/">5</a><a href="/">&gt;</a><a href="/">&gt;&gt;</a></div>
    </article>
    <aside>
        <%include common/recommend.html%>
        <%include common/design.html%>
    </aside>
<%include common/footer.html%>
