<%include common/header.html%>
    <article>
        <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">时间轴</a></h3>
        <div class="time_axis">
            <!--s-->
            <div class="timeCell">
                <div class="timeview">
                    <p><img src="images/002.jpg" />生活的坑都是自己挖的！譬如，听别人讲话，听到最后，耳朵里只会记住两类话：最愿意听的和最不愿意听的。然后，喜欢听的未必化成快乐，但不喜欢听的一定化成了痛苦，其他的都化成了风。</p>
                </div>
                <span class="dataview">2015-09-12</span>
            </div>
            <!--e-->
            <div class="page"><a title="Total record"><b>113</b></a><b>1</b><a href="/">2</a><a href="/">3</a><a href="/">4</a><a href="/">5</a><a href="/">&gt;</a><a href="/">&gt;&gt;</a>
        </div>
    </article>
    <aside>
        <%include common/about.html%>
        <%include common/design.html%>
    </aside>
<%include common/footer.html%>
