*{margin: 0;padding: 0;}
@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-size-adjust: 100%;
  font-size: 20px;
  font-family: sans-serif, Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none; 
}
body{
  margin: 0 auto;
  max-width: 640px;
}
a{
  color: #444;
  text-decoration: none; 
}
a[href^="javascript"]{-webkit-touch-callout: none;}
i,em,b,strong{
  font-style: normal;
  font-weight: normal;
}
input, textarea, select {
  outline: none; 
}
input, button, select, textarea {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0px; 
}
li {
  list-style: none; 
}
img {
  border: none; 
}
.clearfix:after {
  content: "";
  display: block; 
}
.clearfix {
  *zoom: 1; 
}


html,body{
	height: 100%;
  overflow: hidden;
}
body{
	position: relative;
	
}
canvas{
	display: block; 
	max-width: 640px; 
	height: 100%; 
	margin: 0 auto;
}
.ad{
  z-index: 300;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.ad > *{
	width: 100%;
	height: 100%;
}
.game-gz{
  opacity: 0;
  z-index: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5.63rem;
  height: 7.84rem;
  margin-left: -2.82rem;
  margin-top: -3.92rem;
  background: url(../images/guize.png) no-repeat;
  background-size: 100% 100%;
}
.game-gz.active{
  opacity: 1;
  -webkit-animation:bounceIn 1s 0s ease both;
  animation:bounceIn 1s 0s ease both;
}

.game-gz .js-start{
  position: absolute;
}
.game-gz .close{
  top: 0;
  right: 0;
  width: 0.62rem;
  height: 0.62rem;
}
.game-gz .start{
  bottom: 1.47rem;
  left: 50%;
  width: 2.28rem;
  height: 0.56rem;
  margin-left: -1.14rem;
}


@-webkit-keyframes bounceIn{
0%{opacity:0;
-webkit-transform:scale(.3)}
50%{opacity:1;
-webkit-transform:scale(1.05)}
70%{-webkit-transform:scale(.95)}
100%{-webkit-transform:scale(1)}
}
@keyframes bounceIn{
0%{opacity:0;
transform:scale(.3)}
50%{opacity:1;
transform:scale(1.05)}
70%{transform:scale(.95)}
100%{transform:scale(1)}
}

.hide{
  display: none;
}


.share-mask{
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.share{
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.share-arrow{
  position: absolute;
  top: 0.7rem;
  left: 0;
  width: 100%;
  height: 2.56rem;
  background: url(../images/share/share_font.png) no-repeat 2.25rem 0;
  background-size: 3.83rem 2.56rem;
}
.share-arrow > p{
  font-weight: bolder;
  padding-top: 0.64rem;
  font-size: 0.32rem;
  line-height: 0.4rem;
  color: #ed7f02;
  text-align: center;
}
.share-arrow > p i{
  color: #fff;
  margin: 0 0.05rem;
}
.restart{
  text-indent: -9999rem;
  overflow: hidden;
  position: absolute;
  top: 3.4rem;
  left: 50%;
  margin-left: -0.55rem;
  width: 1.09rem;
  height: 1.04rem;
  background: url(../images/share/tiaozhan.png) no-repeat;
  background-size: 100% 100%;
}


.share-bag{
  position: absolute;
  top: 4.86rem;
  left: 50%;
  width: 2.92rem;
  height: 3.84rem;
  margin-left: -1.56rem;
  background: url(../images/share/regbag.png) no-repeat;
  background-size: 100% 100%;
}
.share-bag > span{
  position: absolute;
  top: 1.52rem;
  left: 50%;
  margin-left: -0.59rem;
  width: 1.18rem;
  height: 1.13rem;
  line-height: 1.13rem;
  color: #a11914;
  text-align: center;
  font-size: 0.48rem;
  font-weight: bolder;
}

.mobile-prompt{
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.mobile-box{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.59rem;
  margin-top: -2.22rem;
  width: 5.18rem;
  height: 4.45rem;
  padding: 0.85rem 0.44rem 0.75rem 0.46rem;
  background-color: rgba(255, 255, 255, 0.9);
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a.a_c{
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
}
a.a_c:active{
  -webkit-transform: scale(0.95,0.95);
  transform: scale(0.95,0.95);
}
.mobile-item{
  position: relative;
  padding-bottom: 0.36rem;
}
.mobile-item > span{
  position: absolute;
  top: 0;
  left: 0;
  width: 1.1rem;
  height: 0.65rem;
  line-height: 0.65rem;
  border: 1px solid transparent;
  text-align: center;
  font-size: .28rem;
  color: #000;
}
.mobile-item > input{
  background-color: #fff;
  display: block;
  width: 100%;
  height: 0.65rem;
  line-height: 0.65rem;
  font-size: .28rem;
  color: #000;
  border: 1px solid #D3D3D3;
  text-indent: 1.14rem;
  border-radius: 3px;
}
.mobile-item > input[name="yzm"]{
  width: 2.41rem;
  text-indent: 0.21rem;
}
.mobile-item .sign-yzm{
  position: absolute;
  top: 0;
  left: 2.58rem;
  width: 1.63rem;
  height: 0.65rem;
  line-height: 0.69rem;
  border: 1px solid #F37121;
  text-align: center;
  font-size: 0.28rem;
  color: #F37121;
  border-radius: 3px;
}
.mobile-item .sign-yzm.off{
  border: 1px solid #999999;
  color: #999999;
}

.mobile-btn{
  margin-top: 0.22rem;
  display: block;
  width: 1.82rem;
  height: .62rem;
  line-height: .62rem;
  margin: 0 auto;
  background-color: #F17020;
  border-radius: 3px;
  color: #fff;
  font-size: .32rem;
  text-align: center;
}




.loading{
  z-index: 10000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.loading > div{
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -70px;
  height: 140px;
  width: 100%;
  
  
}
.loading > div > p:nth-of-type(1){
  position: relative;
  width: 80%;
  height: 20px;
  margin: 0 auto;
  border: 1px solid #0C9FC7;
  border-radius: 10px;
}
.loading > div > p:nth-of-type(1) span{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 0%;
  min-width: 20px !important;
  background-color: #0C9FC7;
  border-radius: 10px;
}
.loading > div > p:nth-of-type(2){
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #000;
}
.music{
  z-index: 10000;
  position: absolute;
  top: 0;
  right: 0.05rem;
  width: 0.6rem;
  height: 0.6rem;
  background: url(../images/music.png) no-repeat;
  background-size: 0.6rem;
  -webkit-animation: rotate1 2s linear infinite;
  animation: rotate1 2s linear infinite;
  -webkit-transform: scaleX(0.7) scaleY(0.7);
  transform: scaleX(0.7) scaleY(0.7);
}
.music.close{
  background-position: 0 -0.83rem;
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes rotate1{
0%{-webkit-transform: rotate(0deg) scaleX(0.7) scaleY(0.7)}
100%{-webkit-transform: rotate(360deg) scaleX(0.7) scaleY(0.7)}
}
@keyframes rotate1{
0%{transform: rotate(0deg) scaleX(0.7) scaleY(0.7)}
100%{transform: rotate(360deg) scaleX(0.7) scaleY(0.7)}
}