.topic-top{
	background-color: #333333;
	height: 34px;
	line-height: 34px;
	font-size: 13px;
	padding: 0 10px;
}
.topic-top > a{
	color: #fff;
}
.topic-top > a:nth-of-type(2){
	float: right;
}

.topic-faces{
	padding: 0 4px;
	visibility: hidden;
}
.topic-imgshow{
	display: none;
}
.topic-imgshow input{
	font-size: 12px;
}

.show{
	visibility: visible;
	display: block;
}
.topic-imgshow section{
	padding-top: 20px;
	clear: both;
}
.topic-imgshow section .topic-file-item{
	position: relative;
}
.topic-imgshow section .close{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 32px;
    height: 32px;
    background: rgba(0,0,0,0.5) url(../images/xxx.png) no-repeat center center;
    background-size: 23px;
}
.topic-imgshow section img{
	width: 100%;
	display: block;
	margin-bottom: 3px;
}


.topic-faces .ui-slider{
	padding-top: 135px;
}
.topic-faces .ui-slider-indicators{
	-webkit-box-pack: center;
}
.topic-faces .ui-slider-content li{
	height: 117px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.topic-faces .ui-slider-content li:nth-of-type(1){
	background-image: url(../images/qq1.png);
}
.topic-faces .ui-slider-content li:nth-of-type(2){
	background-image: url(../images/qq2.png);
}
.topic-faces .ui-slider-content li:nth-of-type(3){
	background-image: url(../images/qq3.png);
}
.topic-faces .ui-slider-content li:nth-of-type(4){
	background-image: url(../images/qq4.png);
}
.topic-faces .ui-slider-content li:nth-of-type(5){
	background-image: url(../images/qq5.png);
}
.topic-faces .ui-slider-content li:nth-of-type(6){
	background-image: url(../images/qq6.png);
}

.topic-faces .ui-slider-content li i{
	float: left;
    box-sizing: border-box;
    width: 14.285%;
    height: 39px;
}

.topic-text textarea{
	display: block;
	width: 100%;
	height: 81px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	resize: no-resize;
	border: none;
	border-bottom: 1px solid #F5F5F5;
	padding: 11px 15px;
	font-size: 11px;
}

.topic-text > ul{
	height: 23px;
	padding: 5px 7px 6px;
	background-color: #fff;
}
.topic-text > ul > li{
	float: left;
	margin-left: 25px;
}
.topic-text > ul > li:nth-of-type(1){
	width: 21px;
	height: 20px;
	margin-top: 1px;
	background: url(../images/qq-file.png) no-repeat;
	background-size: 100%;
}
.topic-text > ul > li:nth-of-type(2){
	width: 23px;
	height: 23px;
	background: url(../images/qq-show.png) no-repeat;
	background-size: 100%;
}

.topic-file{
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 20px 0 0 20px;
	cursor: pointer;
	background: #fff url(../images/upload_btn.png) no-repeat;
	background-size: 100% 100%;
}
.topic-file-cell{
	display: none; /*多张上传关闭*/
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 20px 0 0 20px;
}
.topic-file-cell img{
	vertical-align: middle;
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}
.topic-file > input{
	position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}