.user-top{
	position: relative;
	font-size: 16px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background-color: #333333;
}
.user-top > a{
	position: absolute;
	top: 10px;
	left: 17px;
	color: #fff;
	font-size: 11px;
	line-height: 16px;
}

.user-content{
	background-color: #F0F0F0;
}
.user-hot{
	padding: 11px;
	min-height: 62px;
	background-color: #fff;
}
.user-hot > div{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.user-hot > div:nth-of-type(1){
	position: relative;
	width: 17.5%;
	min-height: 40px;
	padding-left: 16px;
}
.user-hot > div:nth-of-type(1) img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.user-hot > div:nth-of-type(1) .file2Img,
.user-hot > div:nth-of-type(1) .file2Img input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.user-hot > div:nth-of-type(2){
	width: 71.25%;
	padding-left: 14px;
}
.user-hot > div:nth-of-type(2) input{
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 90%;
	padding: 0;
	height: 17px;
	line-height: 17px;
	font-size: 12px;
	color: #000;
	background-color: #fff;
}
.user-hot > div:nth-of-type(2) input:disabled{
	border-bottom-color: transparent;
}
.user-hot > div:nth-of-type(3){
	width: 11.25%;
}
.change-img{
	float: left;
	margin-top: 4px;
	width: 13px;
	height: 13px;
	background: url(../images/change.png) no-repeat;
	background-size: 100% 100%;
}

.user-all{
	margin-top: 7px;
	font-size: 12px;
}
.user-all > h2,.user-item > h3,.user-item > ul > li{
	background-color: #fff;
	position: relative;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #F0F0F0;
}
.user-all > h2{
	text-indent: 56px;
}
.user-all > h2 > span{
	position: absolute;
	top: 8px;
	left: 22px;
	width: 23px;
	height: 23px;
	background: url(../images/point.png) no-repeat;
	background-size: 100% 100%;
}
.user-all > h2 > span i{
	position: absolute;
	top: -3px;
	right: -3px;
	width: 12px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	color: #fff;
	font-size: 7px;
	border-radius: 50%;
	background-color: #ff0000;
	text-indent: 0;
}
.user-all > h2 > span i:empty{
	display: none;
}

.user-item > h3,.user-item li{
	padding-left: 54px;
}
.user-item > h3{
	text-indent: 32px;
}
.user-item > h3 > span{
	position: absolute;
	top: 8px;
	left: 54px;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.user-item1 > h3 > span{
	background-image: url(../images/pl.png);
}
.user-item2 > h3 > span{
	background-image: url(../images/use1.png);
}
.user-item3 > h3 > span{
	background-image: url(../images/use2.png);
}
.user-item > h3 > span i{
	position: absolute;
	top: -3px;
	right: -3px;
	width: 12px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	color: #fff;
	font-size: 7px;
	border-radius: 50%;
	background-color: #ff0000;
	text-indent: 0;
}
.user-item > h3 > span i:empty{
	display: none;
}

.user-item > h3 > em{
	position: absolute;
	top: 14px;
	right: 22px;
	width: 8px;
	height: 13px;
	background: url(../images/arrow-r.png) no-repeat;
	background-size: 100%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.user-item > h3 > em.open{
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.user-item > ul{
	height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.user-item > ul > li{
	padding-right: 63px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.user-item > ul > li > span{
	position: absolute;
	width: 60px;
	height: 18px;
	line-height: 18px;
	top: 11px;
	right: 0px;
	color: #999999;
	font-size: 9px;
}
.user-item > ul > li > span i{
	float: left;
	width: 25px;
	height: 17px;
	margin-right: 3px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.user-item2 > ul > li > span i{
	background-image: url(../images/color.png);
}
.user-item > ul.open{
	height: auto;
}