@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}
li{list-style:none;}
a{text-decoration:none; color: #000}
a:hover{text-decoration: underline;}
img{border:none;}
html{overflow-x:hidden; overflow-y:auto; font: 10px/1.5 '微软雅黑';}
body{font-size: 1.6rem;}
.hide{display:none;}
.show{display:block;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:""; display:block; clear:both;}
.clearfix{zoom:1;}