html,
body {
  height: 100%;
}
.index-head {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D3D2CD;
}
.index-head .logo {
  display: block;
  width: 6.79rem;
  margin: 0.55rem 0 0 1.76rem;
}
.index-head .font {
  position: absolute;
  top: 50%;
  left: 0.69rem;
  margin-top: -4.5rem;
  width: 9.17rem;
  height: 11.76rem;
  background: url(../images/home.jpg) no-repeat;
  background-size: 100% 100%;
}
.index-head .home {
  z-index: 10;
  position: absolute;
  top: 4.08rem;
  left: 2.30rem;
}
.index-head .home span {
  visibility: hidden;
  opacity: 0;
  display: block;
  height: 0.8rem;
  width: 4.7rem;
  background-size: 4.7rem 5.4rem;
  background-repeat: no-repeat;
  background-image: url(../images/home-font.jpg);
}
.index-head .home span:nth-of-type(1) {
  margin-left: 0.74rem;
  width: 2.89rem;
  height: 0.73rem;
  background-position: -0.74rem 0;
}
.index-head .home span:nth-of-type(2) {
  background-position: 0 -0.73rem;
}
.index-head .home span:nth-of-type(3) {
  background-position: 0 -1.52rem;
}
.index-head .home span:nth-of-type(4) {
  background-position: 0 -2.33rem;
}
.index-head .home span:nth-of-type(5) {
  background-position: 0 -3.13rem;
}
.index-head .home span:nth-of-type(6) {
  background-position: 0 -3.93rem;
}
.index-head .home span:nth-of-type(7) {
  width: 3.62rem;
  background-position: 0 -4.73rem;
}
.index-head .home i {
  position: absolute;
  bottom: -1.5rem;
  right: -0.6rem;
  width: 1.1rem;
  height: 1.7rem;
}
.index-head .hand {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -0.22rem;
  right: 1.25rem;
  width: 1.19rem;
  height: 1.79rem;
  background: url(../images/hand.png) no-repeat;
  background-size: 100% 100%;
}
.index-head.active .home span:nth-of-type(1) {
  visibility: visible;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn 1s 0.3s ease both;
  animation: fadeIn 1s 0.3s ease both;
}
.index-head.active .home span:nth-of-type(2) {
  visibility: visible;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn 1s 1.3s ease both;
  animation: fadeIn 1s 1.3s ease both;
}
.index-head.active .home span:nth-of-type(3) {
  visibility: visible;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn 1s 2.3s ease both;
  animation: fadeIn 1s 2.3s ease both;
}
.index-head.active .home span:nth-of-type(4) {
  visibility: visible;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn 1s 3.3s ease both;
  animation: fadeIn 1s 3.3s ease both;
}
.index-head.active .home span:nth-of-type(5) {
  visibility: visible;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn 1s 4.3s ease both;
  animation: fadeIn 1s 4.3s ease both;
}
.index-head.active .home span:nth-of-type(6) {
  visibility: visible;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn 1s 5.3s ease both;
  animation: fadeIn 1s 5.3s ease both;
}
.index-head.active .home span:nth-of-type(7) {
  visibility: visible;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn 1s 6.3s ease both;
  animation: fadeIn 1s 6.3s ease both;
}
.index-head.active .hand {
  visibility: visible;
  -webkit-animation: fadeInUp 0.7s 7.3s ease infinite alternate;
  animation: fadeInUp 0.7s 7.3s ease infinite alternate;
}
.index-container {
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100%;
}
.index-container .swiper-slide:nth-of-type(1) {
  position: relative;
  height: 100%;
  width: 100%;
  background: url('../images/bg1.jpg') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(1) .key {
  visibility: hidden;
  opacity: 0;
  background: url('../images/keydefault1.png') no-repeat;
  background-size: 2.95rem 2.95rem;
}
.index-container .swiper-slide:nth-of-type(1) .key i {
  visibility: hidden;
  opacity: 0;
  background-repeat: no-repeat;
  background-image: url('../images/key1.gif');
}
.index-container .swiper-slide:nth-of-type(1) .explain {
  visibility: hidden;
  opacity: 0;
  background: url('../images/explain1.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(1) .name {
  visibility: hidden;
  opacity: 0;
  background: url('../images/name1.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(1) .say {
  visibility: hidden;
  opacity: 0;
  background: url('../images/say1.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(1).active .key {
  visibility: visible;
  -webkit-animation: fadeIn 0.7s 0.3s ease both;
  animation: fadeIn 0.7s 0.3s ease both;
}
.index-container .swiper-slide:nth-of-type(1).active .key i {
  visibility: visible;
  -webkit-animation: bounceIn 1s 1s ease both;
  animation: bounceIn 1s 1s ease both;
}
.index-container .swiper-slide:nth-of-type(1).active .explain {
  visibility: visible;
  -webkit-animation: fadeIn 1s 2s ease both;
  animation: fadeIn 1s 2s ease both;
}
.index-container .swiper-slide:nth-of-type(1).active .name {
  visibility: visible;
  -webkit-animation: fadeIn 1s 3s ease both;
  animation: fadeIn 1s 3s ease both;
}
.index-container .swiper-slide:nth-of-type(1).active .say {
  visibility: visible;
  -webkit-animation: fadeIn 1s 4s ease both;
  animation: fadeIn 1s 4s ease both;
}
.index-container .swiper-slide:nth-of-type(2) {
  position: relative;
  height: 100%;
  width: 100%;
  background: url('../images/bg2.jpg') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(2) .key {
  visibility: hidden;
  opacity: 0;
  background: url('../images/keydefault2.png') no-repeat;
  background-size: 2.95rem 2.95rem;
}
.index-container .swiper-slide:nth-of-type(2) .key i {
  visibility: hidden;
  opacity: 0;
  background-repeat: no-repeat;
  background-image: url('../images/key2.gif');
}
.index-container .swiper-slide:nth-of-type(2) .explain {
  visibility: hidden;
  opacity: 0;
  background: url('../images/explain2.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(2) .name {
  visibility: hidden;
  opacity: 0;
  background: url('../images/name2.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(2) .say {
  visibility: hidden;
  opacity: 0;
  background: url('../images/say2.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(2).active .key {
  visibility: visible;
  -webkit-animation: fadeIn 0.7s 0.3s ease both;
  animation: fadeIn 0.7s 0.3s ease both;
}
.index-container .swiper-slide:nth-of-type(2).active .key i {
  visibility: visible;
  -webkit-animation: bounceIn 1s 1s ease both;
  animation: bounceIn 1s 1s ease both;
}
.index-container .swiper-slide:nth-of-type(2).active .explain {
  visibility: visible;
  -webkit-animation: fadeIn 1s 2s ease both;
  animation: fadeIn 1s 2s ease both;
}
.index-container .swiper-slide:nth-of-type(2).active .name {
  visibility: visible;
  -webkit-animation: fadeIn 1s 3s ease both;
  animation: fadeIn 1s 3s ease both;
}
.index-container .swiper-slide:nth-of-type(2).active .say {
  visibility: visible;
  -webkit-animation: fadeIn 1s 4s ease both;
  animation: fadeIn 1s 4s ease both;
}
.index-container .swiper-slide:nth-of-type(3) {
  position: relative;
  height: 100%;
  width: 100%;
  background: url('../images/bg3.jpg') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(3) .key {
  visibility: hidden;
  opacity: 0;
  background: url('../images/keydefault3.png') no-repeat;
  background-size: 2.95rem 2.95rem;
}
.index-container .swiper-slide:nth-of-type(3) .key i {
  visibility: hidden;
  opacity: 0;
  background-repeat: no-repeat;
  background-image: url('../images/key3.gif');
}
.index-container .swiper-slide:nth-of-type(3) .explain {
  visibility: hidden;
  opacity: 0;
  background: url('../images/explain3.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(3) .name {
  visibility: hidden;
  opacity: 0;
  background: url('../images/name3.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(3) .say {
  visibility: hidden;
  opacity: 0;
  background: url('../images/say3.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(3).active .key {
  visibility: visible;
  -webkit-animation: fadeIn 0.7s 0.3s ease both;
  animation: fadeIn 0.7s 0.3s ease both;
}
.index-container .swiper-slide:nth-of-type(3).active .key i {
  visibility: visible;
  -webkit-animation: bounceIn 1s 1s ease both;
  animation: bounceIn 1s 1s ease both;
}
.index-container .swiper-slide:nth-of-type(3).active .explain {
  visibility: visible;
  -webkit-animation: fadeIn 1s 2s ease both;
  animation: fadeIn 1s 2s ease both;
}
.index-container .swiper-slide:nth-of-type(3).active .name {
  visibility: visible;
  -webkit-animation: fadeIn 1s 3s ease both;
  animation: fadeIn 1s 3s ease both;
}
.index-container .swiper-slide:nth-of-type(3).active .say {
  visibility: visible;
  -webkit-animation: fadeIn 1s 4s ease both;
  animation: fadeIn 1s 4s ease both;
}
.index-container .swiper-slide:nth-of-type(4) {
  position: relative;
  height: 100%;
  width: 100%;
  background: url('../images/bg4.jpg') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(4) .key {
  visibility: hidden;
  opacity: 0;
  background: url('../images/keydefault4.png') no-repeat;
  background-size: 2.95rem 2.95rem;
}
.index-container .swiper-slide:nth-of-type(4) .key i {
  visibility: hidden;
  opacity: 0;
  background-repeat: no-repeat;
  background-image: url('../images/key4.gif');
}
.index-container .swiper-slide:nth-of-type(4) .explain {
  visibility: hidden;
  opacity: 0;
  background: url('../images/explain4.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(4) .name {
  visibility: hidden;
  opacity: 0;
  background: url('../images/name4.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(4) .say {
  visibility: hidden;
  opacity: 0;
  background: url('../images/say4.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(4).active .key {
  visibility: visible;
  -webkit-animation: fadeIn 0.7s 0.3s ease both;
  animation: fadeIn 0.7s 0.3s ease both;
}
.index-container .swiper-slide:nth-of-type(4).active .key i {
  visibility: visible;
  -webkit-animation: bounceIn 1s 1s ease both;
  animation: bounceIn 1s 1s ease both;
}
.index-container .swiper-slide:nth-of-type(4).active .explain {
  visibility: visible;
  -webkit-animation: fadeIn 1s 2s ease both;
  animation: fadeIn 1s 2s ease both;
}
.index-container .swiper-slide:nth-of-type(4).active .name {
  visibility: visible;
  -webkit-animation: fadeIn 1s 3s ease both;
  animation: fadeIn 1s 3s ease both;
}
.index-container .swiper-slide:nth-of-type(4).active .say {
  visibility: visible;
  -webkit-animation: fadeIn 1s 4s ease both;
  animation: fadeIn 1s 4s ease both;
}
.index-container .swiper-slide:nth-of-type(5) {
  position: relative;
  height: 100%;
  width: 100%;
  background: url('../images/bg5.jpg') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(5) .key {
  visibility: hidden;
  opacity: 0;
  background: url('../images/keydefault5.png') no-repeat;
  background-size: 2.95rem 2.95rem;
}
.index-container .swiper-slide:nth-of-type(5) .key i {
  visibility: hidden;
  opacity: 0;
  background-repeat: no-repeat;
  background-image: url('../images/key5.gif');
}
.index-container .swiper-slide:nth-of-type(5) .explain {
  visibility: hidden;
  opacity: 0;
  background: url('../images/explain5.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(5) .name {
  visibility: hidden;
  opacity: 0;
  background: url('../images/name5.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(5) .say {
  visibility: hidden;
  opacity: 0;
  background: url('../images/say5.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(5).active .key {
  visibility: visible;
  -webkit-animation: fadeIn 0.7s 0.3s ease both;
  animation: fadeIn 0.7s 0.3s ease both;
}
.index-container .swiper-slide:nth-of-type(5).active .key i {
  visibility: visible;
  -webkit-animation: bounceIn 1s 1s ease both;
  animation: bounceIn 1s 1s ease both;
}
.index-container .swiper-slide:nth-of-type(5).active .explain {
  visibility: visible;
  -webkit-animation: fadeIn 1s 2s ease both;
  animation: fadeIn 1s 2s ease both;
}
.index-container .swiper-slide:nth-of-type(5).active .name {
  visibility: visible;
  -webkit-animation: fadeIn 1s 3s ease both;
  animation: fadeIn 1s 3s ease both;
}
.index-container .swiper-slide:nth-of-type(5).active .say {
  visibility: visible;
  -webkit-animation: fadeIn 1s 4s ease both;
  animation: fadeIn 1s 4s ease both;
}
.index-container .swiper-slide:nth-of-type(6) {
  position: relative;
  height: 100%;
  width: 100%;
  background: url('../images/bg6.jpg') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(6) .key {
  visibility: hidden;
  opacity: 0;
  background: url('../images/keydefault6.png') no-repeat;
  background-size: 2.95rem 2.95rem;
}
.index-container .swiper-slide:nth-of-type(6) .key i {
  visibility: hidden;
  opacity: 0;
  background-repeat: no-repeat;
  background-image: url('../images/key6.gif');
}
.index-container .swiper-slide:nth-of-type(6) .explain {
  visibility: hidden;
  opacity: 0;
  background: url('../images/explain6.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(6) .name {
  visibility: hidden;
  opacity: 0;
  background: url('../images/name6.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(6) .say {
  visibility: hidden;
  opacity: 0;
  background: url('../images/say6.png') no-repeat;
  background-size: 100% 100%;
}
.index-container .swiper-slide:nth-of-type(6).active .key {
  visibility: visible;
  -webkit-animation: fadeIn 0.7s 0.3s ease both;
  animation: fadeIn 0.7s 0.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active .key i {
  visibility: visible;
  -webkit-animation: bounceIn 1s 1s ease both;
  animation: bounceIn 1s 1s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active .explain {
  visibility: visible;
  -webkit-animation: fadeIn 1s 2s ease both;
  animation: fadeIn 1s 2s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active .name {
  visibility: visible;
  -webkit-animation: fadeIn 1s 3s ease both;
  animation: fadeIn 1s 3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active .say {
  visibility: visible;
  -webkit-animation: fadeIn 1s 4s ease both;
  animation: fadeIn 1s 4s ease both;
}
.index-container .con * {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.index-container span {
  display: block;
}
.index-container .key {
  width: 2.95rem;
  height: 2.95rem;
}
.index-container .key i {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.index-container .con1 {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  margin-top: -3.9rem;
  width: 4rem;
  height: 8rem;
}
.index-container .con1 .key i {
  background-size: 2.49rem 2.34rem;
}
.index-container .con1 .explain {
  margin-top: 0.22rem;
  width: 2.95rem;
  height: 1.1rem;
}
.index-container .con1 .name {
  height: 1.22rem;
  width: 2.91rem;
}
.index-container .con1 .say {
  width: 3.15rem;
  height: 2.42rem;
}
.index-container .con2 {
  position: absolute;
  bottom: 1.83%;
  left: 1.6rem;
  height: 3.56rem;
  width: 8.16rem;
}
.index-container .con2 .con2-box {
  position: absolute;
  width: 4.67rem;
  height: 3.56rem;
  top: 0;
  right: 0;
}
.index-container .con2 .key i {
  background-size: 2.59rem 2.62rem;
}
.index-container .con2 .explain {
  width: 2.96rem;
  height: 1.1rem;
}
.index-container .con2 .name {
  margin-top: 0.19rem;
  width: 2.72rem;
  height: 2.27rem;
}
.index-container .con2 .say {
  margin-top: -1.32rem;
  width: 4.65rem;
  height: 0.43rem;
}
.index-container .con3 {
  position: absolute;
  top: 50%;
  right: 0.87rem;
  margin-top: -3.84rem;
  width: 5.09rem;
  height: 7.81rem;
}
.index-container .con3 .key {
  margin-left: 2.04rem;
}
.index-container .con3 .key i {
  background-size: 2.69rem 2.59rem;
}
.index-container .con3 .explain {
  margin-left: 2.04rem;
  margin-top: 0.22rem;
  width: 2.95rem;
  height: 1.1rem;
}
.index-container .con3 .name {
  margin-left: 2.02rem;
  margin-top: 0.09rem;
  width: 2.97rem;
  height: 1rem;
}
.index-container .con3 .say {
  width: 100%;
  height: 2.44rem;
}
.index-container .con4 {
  position: absolute;
  top: 50%;
  left: 0.93rem;
  margin-top: -3.42rem;
  height: 7.06rem;
  width: 4rem;
}
.index-container .con4 .key i {
  width: 3.38rem;
  margin-left: -0.22rem;
  background-size: 3.38rem 2.5rem;
}
.index-container .con4 .explain {
  margin-top: 0.22rem;
  width: 2.95rem;
  height: 1.1rem;
}
.index-container .con4 .name {
  width: 2.79rem;
  height: 2.22rem;
}
.index-container .con4 .say {
  margin-top: -1.2rem;
  width: 3.6rem;
  height: 1.66rem;
}
.index-container .con5 {
  position: absolute;
  top: 50%;
  left: 0.95rem;
  margin-top: -3.18rem;
  width: 3.6rem;
  height: 8rem;
}
.index-container .con5 .key i {
  background-size: 2.63rem 1.97rem;
}
.index-container .con5 .explain {
  margin-top: 0.23rem;
  width: 3.04rem;
  height: 1.09rem;
}
.index-container .con5 .name {
  margin-top: 0.11rem;
  width: 2.91rem;
  height: 0.91rem;
}
.index-container .con5 .say {
  margin-top: 0.1rem;
  width: 2.8rem;
  height: 2.32rem;
}
.index-container .con-end {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4.72rem;
  width: 100%;
  height: 9.8rem;
}
.index-container .con-end p {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-size: 0.58rem;
  line-height: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0px 0px 15px #fff,
						0px 0px 13px #fff,
						0px 0px 12px #fff,
						0px 0px 11px #fff,
						0px 0px 10px #fff,
						0px 0px 9px #fff,
						0px 0px 8px #fff,
						0px 0px 7px #fff,
						0px 0px 6px #fff,
						0px 0px 5px #fff,
						0px 0px 4px #fff,
						0px 0px 3px #fff,
						0px 0px 2px #fff,
						0px 0px 1px #fff;
}
.index-container .con-end p:nth-of-type(5) {
  margin-top: 1rem;
}
.index-container .con-end p:nth-of-type(7) {
  margin-bottom: 1rem;
}
.index-container .end-btn {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 7.21%;
  left: 50%;
  margin-left: -2.675rem;
  width: 5.35rem;
  height: 1.37rem;
  line-height: 1.37rem;
  font-size: 0.54rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background-color: #F54D47;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.index-container .swiper-slide:nth-of-type(6).active p:nth-of-type(1) {
  visibility: visible;
  -webkit-animation: fadeIn 1s 0.3s ease both;
  animation: fadeIn 1s 0.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active p:nth-of-type(2) {
  visibility: visible;
  -webkit-animation: fadeIn 1s 1.3s ease both;
  animation: fadeIn 1s 1.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active p:nth-of-type(3) {
  visibility: visible;
  -webkit-animation: fadeIn 1s 2.3s ease both;
  animation: fadeIn 1s 2.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active p:nth-of-type(4) {
  visibility: visible;
  -webkit-animation: fadeIn 1s 3.3s ease both;
  animation: fadeIn 1s 3.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active p:nth-of-type(5) {
  visibility: visible;
  -webkit-animation: fadeIn 1s 4.3s ease both;
  animation: fadeIn 1s 4.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active p:nth-of-type(6) {
  visibility: visible;
  -webkit-animation: fadeIn 1s 5.3s ease both;
  animation: fadeIn 1s 5.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active p:nth-of-type(7) {
  visibility: visible;
  -webkit-animation: fadeIn 1s 6.3s ease both;
  animation: fadeIn 1s 6.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active p:nth-of-type(8) {
  visibility: visible;
  -webkit-animation: fadeIn 1s 7.3s ease both;
  animation: fadeIn 1s 7.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active p:nth-of-type(9) {
  visibility: visible;
  -webkit-animation: fadeIn 1s 7.3s ease both;
  animation: fadeIn 1s 7.3s ease both;
}
.index-container .swiper-slide:nth-of-type(6).active .end-btn {
  visibility: visible;
  -webkit-animation: fadeIn 1s 8.3s ease both;
  animation: fadeIn 1s 8.3s ease both;
}
.music {
  z-index: 990;
  position: fixed;
  top: -10px;
  right: -10px;
  width: 60px;
  height: 60px;
  background: url(../images/music.png) no-repeat;
  background-size: 60px;
  -webkit-animation: r3 2s linear infinite;
  animation: r3 2s linear infinite;
  -webkit-transform: scaleX(0.4) scaleY(0.4);
  transform: scaleX(0.4) scaleY(0.4);
}
.music.close {
  background-position: 0 -83px;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.loading {
  z-index: 990;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #FFF;
}
.loading > div {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.7rem;
  height: 1.4rem;
  width: 100%;
}
.loading > div > p:nth-of-type(1) {
  position: relative;
  width: 80%;
  height: 0.8rem;
  margin: 0 auto;
  border: 1px solid #F54D47;
  border-radius: 0.4rem;
}
.loading > div > p:nth-of-type(1) span {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.8rem;
  width: 0%;
  min-width: 0.8rem !important;
  background-color: #F54D47;
  border-radius: 0.4rem;
}
.loading > div > p:nth-of-type(2) {
  font-size: 0.4rem;
  line-height: 0.6rem;
  text-align: center;
  color: #000;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes r3 {
  0% {
    transform: rotate(0deg) scaleX(0.4) scaleY(0.4);
  }
  100% {
    transform: rotate(360deg) scaleX(0.4) scaleY(0.4);
  }
}
@-webkit-keyframes r3 {
  0% {
    -webkit-transform: rotate(0deg) scaleX(0.4) scaleY(0.4);
  }
  100% {
    -webkit-transform: rotate(360deg) scaleX(0.4) scaleY(0.4);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
