@charset "UTF-8";
/* CSS Document */
/* 设计图100px -> 1rem */
*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-size-adjust: 100%;
  font-size: 20px;
  font-family: sans-serif, Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
  /* -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none;  */
}
body{
  margin: 0 auto;
  max-width: 750px;
}
a{
  color: #444;
  text-decoration: none; 
}
a[href^="javascript"]{-webkit-touch-callout: none;}
i,em,b,strong{
  font-style: normal;
  font-weight: normal;
}
input, textarea, select {
  outline: none; 
}
input, button, select, textarea {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0px; 
}
li {
  list-style: none; 
}
img {
  border: none; 
}
.clearfix:after {
  content: "";
  display: block; 
}
.clearfix {
  *zoom: 1; 
}

a.a_c{
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
}
a.a_c:active{
  -webkit-transform: scale(0.95,0.95);
  transform: scale(0.95,0.95);
}