html,
body {
  background-color: #fff;
}
i {
  font-style: normal;
}
body.active {
  
}
.container {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}
.container.active {
  opacity: 1;
  z-index: 100;
}
.container.active .swiper-container {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.container .swiper-container {
  position: absolute;
  left: 50%;
  top: 3%;
  margin-left: -3.18rem;
  width: 6.36rem;
  height: 94%;
  border-radius: 0.16rem;
  background-color: #fffaf4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.container .swiper-container .swiper-slide {
  height: 100%;
}
.container .swiper-container .swiper-slide header {
  height: 37.65217391%;
}
.container .swiper-container .swiper-slide header > em {
  display: block;
  height: 10.16166282%;
}
.container .swiper-container .swiper-slide header > i {
  display: block;
  height: 69.28406467%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.container .swiper-container .swiper-slide header h3 {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 0.22rem;
  line-height: 0.24rem;
  color: #888888;
}
.container .swiper-container .swiper-slide:nth-child(1) header > i {
  background-image: url('../images/1.png');
}
.container .swiper-container .swiper-slide:nth-child(2) header > i {
  background-image: url('../images/2.png');
}
.container .swiper-container .swiper-slide:nth-child(3) header > i {
  background-image: url('../images/3.png');
}
.container .swiper-container .swiper-slide:nth-child(4) header > i {
  background-image: url('../images/4.png');
}
.container .swiper-container .swiper-slide:nth-child(5) header > i {
  background-image: url('../images/5.png');
}
.container .swiper-container .swiper-slide:nth-child(6) header > i {
  background-image: url('../images/6.png');
}
.container .swiper-container .swiper-slide:nth-child(7) header > i {
  background-image: url('../images/7.png');
}
.container .swiper-container .swiper-slide:nth-child(8) header > i {
  background-image: url('../images/8.png');
}
.container .swiper-container .swiper-slide:nth-child(9) header > i {
  background-image: url('../images/9.png');
}
.container .swiper-container .swiper-slide:nth-child(10) header > i {
  background-image: url('../images/10.png');
}
.container .swiper-container .swiper-slide footer {
  height: 59.73913043%;
  padding: 0 0.27rem;
}
.container .swiper-container .swiper-slide footer h2 {
  position: relative;
  height: 8.29694323%;
  font-size: 0.3rem;
  line-height: 0.32rem;
  color: #444444;
  text-indent: 0.2rem;
}
.container .swiper-container .swiper-slide footer h2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.06rem;
  height: 0.32rem;
  background-color: #d3b180;
}
.container .swiper-container .swiper-slide footer p {
  word-break: break-all;
  height: 91.70305677%;
  font-size: 0.24rem;
  line-height: 0.42rem;
  color: #666666;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: auto;
}
.container .button-prev,
.container .button-next {
  position: absolute;
  top: 50%;
  margin-top: -0.2rem;
  width: 0.38rem;
  height: 0.4rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/light.png);
}
.container .button-prev {
  left: 0.1rem;
  transform: rotate(180deg);
}
.container .button-next {
  right: 0.1rem;
}
.container .swiper-button-disabled {
  display: none;
}
.container .button-close {
  z-index: 10;
  position: absolute;
  top: 0.61rem;
  right: 0.84rem;
  width: 0.28rem;
  height: 0.29rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/cancel.png);
}
body {
  background: url(../images/background.png) repeat;
}
.top {
  padding-top: 0.67rem;
  height: 3.83rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/background1.png);
}
.top h1 {
  font-weight: bolder;
  font-size: 0.45rem;
  line-height: 0.46rem;
  text-align: center;
  margin-bottom: 0.3rem;
  color: #444444;
}
.top i {
  display: block;
  margin: 0 auto;
}
.top i:nth-of-type(1) {
  width: 2.15rem;
  height: 0.68rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/font1.png);
}
.top i:nth-of-type(2) {
  margin-top: 0.58rem;
  width: 0.44rem;
  height: 0.41rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/down.png);
}
.top p {
  margin-top: 0.17rem;
  text-align: center;
  font-size: 0.42rem;
  line-height: 0.43rem;
  color: #d3b180;
}
.content > p:nth-of-type(1) {
  position: relative;
  margin-left: 0.32rem;
  padding: 0.09rem 0.2rem 0.21rem 0.33rem;
  width: 6.15rem;
  font-size: 0.25rem;
  line-height: 0.42rem;
  color: #000000;
  border: 0.04rem solid #EADECF;
  text-align: justify;
}
.content > p:nth-of-type(1):after {
  content: "";
  position: absolute;
  top: -0.17rem;
  left: 0.12rem;
  width: 6.64rem;
  height: 1.98rem;
  border: 0.04rem solid #fff;
}
.content > a:nth-of-type(1) {
  display: block;
  margin: 0.6rem auto 0.24rem;
  width: 6.69rem;
  height: 4.4rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/kindleimage.png);
}
.content > p:nth-of-type(2) {
  text-align: center;
  font-size: 0.32rem;
  line-height: 0.37rem;
  color: #82898d;
  margin-bottom: 0.3rem;
}
.content > p:nth-of-type(3) {
  text-align: center;
}
.content > p:nth-of-type(3) i {
  line-height: 0.64rem;
}
.content > p:nth-of-type(3) i:nth-child(1) {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.15rem;
  color: #d3b180;
  font-size: 0.28rem;
  line-height: 0.3rem;
}
.content > p:nth-of-type(3) i:nth-child(2) {
  color: #d3b180;
  font-size: 0.42rem;
}
.content > p:nth-of-type(3) i:nth-child(3) {
  margin-left: 0.13rem;
  font-size: 0.22rem;
}
.content > p:nth-of-type(4) {
  margin: 1.34rem auto 0.42rem;
  width: 6.8rem;
  font-size: 0.25rem;
  line-height: 0.42rem;
  text-align: justify;
  color: #000000;
}
.content > p:nth-of-type(4) i:nth-of-type(1) {
  display: block;
  width: 6.21rem;
  height: 0.39rem;
  margin-bottom: 0.24rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/font2.png);
}
.content > p:nth-of-type(4) i:nth-of-type(2) {
  color: #d3b180;
}
.content > a:nth-of-type(2) {
  display: block;
  margin: 0.22rem auto 0;
  width: 2.09rem;
  height: 0.57rem;
  line-height: 0.57rem;
  border: 1px solid #444444;
  border-radius: 0.08rem;
  text-align: center;
  font-size: 0.24rem;
  color: #444444;
}
.content > a:nth-of-type(2):active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.book-box {
  padding: 0 0.3rem;
}
.book-box .book-item {
  padding-top: 0.54rem;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
}
.book-box .book-item h3 {
  height: 0.3rem;
  margin-bottom: 0.24rem;
  font-size: 0.28rem;
  line-height: 0.3rem;
}
.book-box .book-item h3 span:nth-of-type(1) {
  font-weight: bolder;
  color: #444444;
}
.book-box .book-item h3 span:nth-of-type(2) {
  margin-left: 0.1rem;
  color: #888888;
}
.book-box .book-item .con {
  overflow: hidden;
  padding-bottom: 0.42rem;
}
.book-box .book-item .con .con-fl {
  float: left;
  width: 2.14rem;
  height: 3.08rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.book-box .book-item .con .con-fr {
  float: right;
  width: 4.63rem;
}
.book-box .book-item .con .con-fr h5 {
  font-weight: bolder;
  margin-bottom: 0.1rem;
  font-size: 0.24rem;
  line-height: 0.3rem;
  color: #444444;
}
.book-box .book-item .con .con-fr p {
  font-size: 0.24rem;
  line-height: 0.4rem;
  color: #666666;
  text-align: justify;
}
.book-box .book-item .con .con-fr p a {
  color: #1893e1;
}
.book-box .book-item:nth-of-type(1) .con-fl {
  background-image: url('../images/1.png');
}
.book-box .book-item:nth-of-type(2) .con-fl {
  background-image: url('../images/2.png');
}
.book-box .book-item:nth-of-type(3) .con-fl {
  background-image: url('../images/3.png');
}
.book-box .book-item:nth-of-type(4) .con-fl {
  background-image: url('../images/4.png');
}
.book-box .book-item:nth-of-type(5) .con-fl {
  background-image: url('../images/5.png');
}
.book-box .book-item:nth-of-type(6) .con-fl {
  background-image: url('../images/6.png');
}
.book-box .book-item:nth-of-type(7) .con-fl {
  background-image: url('../images/7.png');
}
.book-box .book-item:nth-of-type(8) .con-fl {
  background-image: url('../images/8.png');
}
.book-box .book-item:nth-of-type(9) .con-fl {
  background-image: url('../images/9.png');
}
.book-box .book-item:nth-of-type(10) .con-fl {
  background-image: url('../images/10.png');
}
