html,
body {
  background-color: #fff;
}
i {
  font-weight: normal;
  font-style: normal;
}
.wrapper .swiper-slide {
  position: relative;
}
.wrapper .swiper-slide:nth-child(1) img {
  display: block;
  width: 100%;
}
.wrapper .swiper-slide:nth-child(1) h1 {
  position: absolute;
  top: 1.68rem;
  left: 50%;
  width: 3.88rem;
  height: 3.43rem;
  margin-left: -1.94rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/one/title.png);
}
.wrapper .swiper-slide:nth-child(1) p {
  position: absolute;
  top: 6.32rem;
  left: 0.35rem;
  width: 6.15rem;
  padding: 0.09rem 0.2rem 0.21rem 0.33rem;
  background-color: rgba(243, 237, 235, 0.8);
  color: #000;
  font-size: 0.26rem;
  line-height: 0.41rem;
  text-align: justify;
}
.wrapper .swiper-slide:nth-child(1) p:after {
  content: "";
  position: absolute;
  top: -0.13rem;
  left: 0.13rem;
  width: 6.64rem;
  height: 2.72rem;
  border: 0.04rem solid #fff;
}
.wrapper .swiper-slide .arrow {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.59rem;
  height: 0.67rem;
  margin-top: -0.33rem;
  margin-left: 2.9rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/one/arrow.png);
  -webkit-animation: down 1.5s linear infinite;
  animation: down 1.5s linear infinite;
}
.wrapper .swiper-slide:nth-child(2) {
  padding-top: 0.43rem;
  padding-bottom: 0.6rem;
}
.wrapper .swiper-slide:nth-child(2) h2 {
  position: relative;
  z-index: 10;
  width: 3.09rem;
  height: 1.81rem;
  margin: 0 auto;
  background-image: url('../images/two/title.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .swiper-slide:nth-child(2) aside {
  margin-top: 0.65rem;
  width: 100%;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/two/product.jpg');
}
.wrapper .swiper-slide:nth-child(2) .con {
  padding: 0.27rem 0.4rem 0.53rem;
}
.wrapper .swiper-slide:nth-child(2) .con h4 {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #000;
}
.wrapper .swiper-slide:nth-child(2) .con p:nth-of-type(1) {
  margin-top: 0.22rem;
}
.wrapper .swiper-slide:nth-child(2) .con p:nth-of-type(1) i:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.1rem;
  color: #A4BED8;
  font-size: 0.3rem;
  line-height: 0.3rem;
}
.wrapper .swiper-slide:nth-child(2) .con p:nth-of-type(1) i:nth-of-type(2) {
  margin-left: 0.04rem;
  color: #A4BED8;
  font-size: 0.4rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(2) .con p:nth-of-type(1) i:nth-of-type(3) {
  margin-left: 0.05rem;
  color: #ACACAC;
  font-size: 0.14rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(2) .con p:nth-of-type(2) {
  margin-top: 0.18rem;
  font-size: 0.25rem;
  line-height: 0.42rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(2) .con a {
  display: block;
  margin: 0.43rem auto;
  width: 1.68rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.26rem;
  color: #A4BED8;
  background-color: #fff;
  border: 1px solid #A4BED8;
  border-radius: 0.08rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .swiper-slide:nth-child(2) h3 {
  height: 0.88rem;
  line-height: 0.88rem;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-size: 0.3rem;
  color: #444444;
  background: url(../images/point.png) no-repeat 0.4rem 0.3rem;
  background-size: 0.32rem 0.27rem;
  text-indent: 0.85rem;
}
.wrapper .swiper-slide:nth-child(2) .item {
  overflow: hidden;
  padding: 0.26rem 0 0.18rem 0.38rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapper .swiper-slide:nth-child(2) .item:last-of-type {
  border-bottom: none;
}
.wrapper .swiper-slide:nth-child(2) .item:nth-of-type(4),
.wrapper .swiper-slide:nth-child(2) .item:nth-of-type(5) {
  display: none;
}
.wrapper .swiper-slide:nth-child(2) .more {
  display: block;
  margin: 0.77rem auto 0;
  width: 2.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid #666666;
  color: #666666;
  border-radius: 0.08rem;
  font-size: 0.26rem;
  text-align: center;
}
.wrapper .swiper-slide:nth-child(2) .item:nth-of-type(1) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/two/point-1.jpg');
}
.wrapper .swiper-slide:nth-child(2) .item:nth-of-type(2) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/two/point-2.jpg');
}
.wrapper .swiper-slide:nth-child(2) .item:nth-of-type(3) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/two/point-3.jpg');
}
.wrapper .swiper-slide:nth-child(2) .item:nth-of-type(4) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/two/point-4.jpg');
}
.wrapper .swiper-slide:nth-child(2) .item:nth-of-type(5) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/two/point-5.jpg');
}
.wrapper .swiper-slide:nth-child(2) .item-r {
  float: right;
  margin-right: 0.3rem;
  width: 5.6rem;
}
.wrapper .swiper-slide:nth-child(2) .item-r h5 {
  font-size: 0.28rem;
  line-height: 0.39rem;
  color: #6C6C6C;
}
.wrapper .swiper-slide:nth-child(2) .item-r p:nth-of-type(1) {
  height: 0.29rem;
  line-height: 0.29rem;
  color: #ACACAC;
}
.wrapper .swiper-slide:nth-child(2) .item-r p:nth-of-type(1) span:nth-of-type(1) {
  float: left;
  position: relative;
  width: 1.44rem;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/gray-star.png);
}
.wrapper .swiper-slide:nth-child(2) .item-r p:nth-of-type(1) span:nth-of-type(1) i {
  position: absolute;
  width: 50%;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 1.44rem 100%;
  background-image: url('../images/two/star.png');
}
.wrapper .swiper-slide:nth-child(2) .item-r p:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 0.19rem;
  float: left;
  font-size: 0.2rem;
}
.wrapper .swiper-slide:nth-child(2) .item-r p:nth-of-type(1) time {
  float: right;
  text-align: right;
  width: 1.2rem;
  font-size: 0.18rem;
}
.wrapper .swiper-slide:nth-child(2) .item-r p:nth-of-type(2) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  line-height: 0.34rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(2) .arrow {
  background-image: url('../images/two/arrow.png');
}
.wrapper .swiper-slide:nth-child(3) {
  padding-top: 0.43rem;
  padding-bottom: 0.6rem;
}
.wrapper .swiper-slide:nth-child(3) h2 {
  position: relative;
  z-index: 10;
  width: 3.09rem;
  height: 1.81rem;
  margin: 0 auto;
  background-image: url('../images/three/title.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .swiper-slide:nth-child(3) aside {
  margin-top: 0.65rem;
  width: 100%;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/three/product.jpg');
}
.wrapper .swiper-slide:nth-child(3) .con {
  padding: 0.27rem 0.4rem 0.53rem;
}
.wrapper .swiper-slide:nth-child(3) .con h4 {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #000;
}
.wrapper .swiper-slide:nth-child(3) .con p:nth-of-type(1) {
  margin-top: 0.22rem;
}
.wrapper .swiper-slide:nth-child(3) .con p:nth-of-type(1) i:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.1rem;
  color: #D3B180;
  font-size: 0.3rem;
  line-height: 0.3rem;
}
.wrapper .swiper-slide:nth-child(3) .con p:nth-of-type(1) i:nth-of-type(2) {
  margin-left: 0.04rem;
  color: #D3B180;
  font-size: 0.4rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(3) .con p:nth-of-type(1) i:nth-of-type(3) {
  margin-left: 0.05rem;
  color: #ACACAC;
  font-size: 0.14rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(3) .con p:nth-of-type(2) {
  margin-top: 0.18rem;
  font-size: 0.25rem;
  line-height: 0.42rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(3) .con a {
  display: block;
  margin: 0.43rem auto;
  width: 1.68rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.26rem;
  color: #D3B180;
  background-color: #fff;
  border: 1px solid #D3B180;
  border-radius: 0.08rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .swiper-slide:nth-child(3) h3 {
  height: 0.88rem;
  line-height: 0.88rem;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-size: 0.3rem;
  color: #444444;
  background: url(../images/point.png) no-repeat 0.4rem 0.3rem;
  background-size: 0.32rem 0.27rem;
  text-indent: 0.85rem;
}
.wrapper .swiper-slide:nth-child(3) .item {
  overflow: hidden;
  padding: 0.26rem 0 0.18rem 0.38rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapper .swiper-slide:nth-child(3) .item:last-of-type {
  border-bottom: none;
}
.wrapper .swiper-slide:nth-child(3) .item:nth-of-type(4),
.wrapper .swiper-slide:nth-child(3) .item:nth-of-type(5) {
  display: none;
}
.wrapper .swiper-slide:nth-child(3) .more {
  display: block;
  margin: 0.77rem auto 0;
  width: 2.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid #666666;
  color: #666666;
  border-radius: 0.08rem;
  font-size: 0.26rem;
  text-align: center;
}
.wrapper .swiper-slide:nth-child(3) .item:nth-of-type(1) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/three/point-1.jpg');
}
.wrapper .swiper-slide:nth-child(3) .item:nth-of-type(2) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/three/point-2.jpg');
}
.wrapper .swiper-slide:nth-child(3) .item:nth-of-type(3) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/three/point-3.jpg');
}
.wrapper .swiper-slide:nth-child(3) .item:nth-of-type(4) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/three/point-4.jpg');
}
.wrapper .swiper-slide:nth-child(3) .item:nth-of-type(5) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/three/point-5.jpg');
}
.wrapper .swiper-slide:nth-child(3) .item-r {
  float: right;
  margin-right: 0.3rem;
  width: 5.6rem;
}
.wrapper .swiper-slide:nth-child(3) .item-r h5 {
  font-size: 0.28rem;
  line-height: 0.39rem;
  color: #6C6C6C;
}
.wrapper .swiper-slide:nth-child(3) .item-r p:nth-of-type(1) {
  height: 0.29rem;
  line-height: 0.29rem;
  color: #ACACAC;
}
.wrapper .swiper-slide:nth-child(3) .item-r p:nth-of-type(1) span:nth-of-type(1) {
  float: left;
  position: relative;
  width: 1.44rem;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/gray-star.png);
}
.wrapper .swiper-slide:nth-child(3) .item-r p:nth-of-type(1) span:nth-of-type(1) i {
  position: absolute;
  width: 50%;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 1.44rem 100%;
  background-image: url('../images/three/star.png');
}
.wrapper .swiper-slide:nth-child(3) .item-r p:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 0.19rem;
  float: left;
  font-size: 0.2rem;
}
.wrapper .swiper-slide:nth-child(3) .item-r p:nth-of-type(1) time {
  float: right;
  text-align: right;
  width: 1.2rem;
  font-size: 0.18rem;
}
.wrapper .swiper-slide:nth-child(3) .item-r p:nth-of-type(2) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  line-height: 0.34rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(3) .arrow {
  background-image: url('../images/three/arrow.png');
}
.wrapper .swiper-slide:nth-child(4) {
  padding-top: 0.43rem;
  padding-bottom: 0.6rem;
}
.wrapper .swiper-slide:nth-child(4) h2 {
  position: relative;
  z-index: 10;
  width: 3.09rem;
  height: 1.81rem;
  margin: 0 auto;
  background-image: url('../images/four/title.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .swiper-slide:nth-child(4) aside {
  margin-top: 0.65rem;
  width: 100%;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/four/product.jpg');
}
.wrapper .swiper-slide:nth-child(4) .con {
  padding: 0.27rem 0.4rem 0.53rem;
}
.wrapper .swiper-slide:nth-child(4) .con h4 {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #000;
}
.wrapper .swiper-slide:nth-child(4) .con p:nth-of-type(1) {
  margin-top: 0.22rem;
}
.wrapper .swiper-slide:nth-child(4) .con p:nth-of-type(1) i:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.1rem;
  color: #7B6B9D;
  font-size: 0.3rem;
  line-height: 0.3rem;
}
.wrapper .swiper-slide:nth-child(4) .con p:nth-of-type(1) i:nth-of-type(2) {
  margin-left: 0.04rem;
  color: #7B6B9D;
  font-size: 0.4rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(4) .con p:nth-of-type(1) i:nth-of-type(3) {
  margin-left: 0.05rem;
  color: #ACACAC;
  font-size: 0.14rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(4) .con p:nth-of-type(2) {
  margin-top: 0.18rem;
  font-size: 0.25rem;
  line-height: 0.42rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(4) .con a {
  display: block;
  margin: 0.43rem auto;
  width: 1.68rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.26rem;
  color: #7B6B9D;
  background-color: #fff;
  border: 1px solid #7B6B9D;
  border-radius: 0.08rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .swiper-slide:nth-child(4) h3 {
  height: 0.88rem;
  line-height: 0.88rem;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-size: 0.3rem;
  color: #444444;
  background: url(../images/point.png) no-repeat 0.4rem 0.3rem;
  background-size: 0.32rem 0.27rem;
  text-indent: 0.85rem;
}
.wrapper .swiper-slide:nth-child(4) .item {
  overflow: hidden;
  padding: 0.26rem 0 0.18rem 0.38rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapper .swiper-slide:nth-child(4) .item:last-of-type {
  border-bottom: none;
}
.wrapper .swiper-slide:nth-child(4) .item:nth-of-type(4),
.wrapper .swiper-slide:nth-child(4) .item:nth-of-type(5) {
  display: none;
}
.wrapper .swiper-slide:nth-child(4) .more {
  display: block;
  margin: 0.77rem auto 0;
  width: 2.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid #666666;
  color: #666666;
  border-radius: 0.08rem;
  font-size: 0.26rem;
  text-align: center;
}
.wrapper .swiper-slide:nth-child(4) .item:nth-of-type(1) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/four/point-1.jpg');
}
.wrapper .swiper-slide:nth-child(4) .item:nth-of-type(2) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/four/point-2.jpg');
}
.wrapper .swiper-slide:nth-child(4) .item:nth-of-type(3) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/four/point-3.jpg');
}
.wrapper .swiper-slide:nth-child(4) .item:nth-of-type(4) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/four/point-4.jpg');
}
.wrapper .swiper-slide:nth-child(4) .item:nth-of-type(5) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/four/point-5.jpg');
}
.wrapper .swiper-slide:nth-child(4) .item-r {
  float: right;
  margin-right: 0.3rem;
  width: 5.6rem;
}
.wrapper .swiper-slide:nth-child(4) .item-r h5 {
  font-size: 0.28rem;
  line-height: 0.39rem;
  color: #6C6C6C;
}
.wrapper .swiper-slide:nth-child(4) .item-r p:nth-of-type(1) {
  height: 0.29rem;
  line-height: 0.29rem;
  color: #ACACAC;
}
.wrapper .swiper-slide:nth-child(4) .item-r p:nth-of-type(1) span:nth-of-type(1) {
  float: left;
  position: relative;
  width: 1.44rem;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/gray-star.png);
}
.wrapper .swiper-slide:nth-child(4) .item-r p:nth-of-type(1) span:nth-of-type(1) i {
  position: absolute;
  width: 50%;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 1.44rem 100%;
  background-image: url('../images/four/star.png');
}
.wrapper .swiper-slide:nth-child(4) .item-r p:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 0.19rem;
  float: left;
  font-size: 0.2rem;
}
.wrapper .swiper-slide:nth-child(4) .item-r p:nth-of-type(1) time {
  float: right;
  text-align: right;
  width: 1.2rem;
  font-size: 0.18rem;
}
.wrapper .swiper-slide:nth-child(4) .item-r p:nth-of-type(2) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  line-height: 0.34rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(4) .arrow {
  background-image: url('../images/four/arrow.png');
}
.wrapper .swiper-slide:nth-child(5) {
  padding-top: 0.43rem;
  padding-bottom: 0.6rem;
}
.wrapper .swiper-slide:nth-child(5) h2 {
  position: relative;
  z-index: 10;
  width: 3.09rem;
  height: 1.81rem;
  margin: 0 auto;
  background-image: url('../images/five/title.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .swiper-slide:nth-child(5) aside {
  margin-top: 0.65rem;
  width: 100%;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/five/product.jpg');
}
.wrapper .swiper-slide:nth-child(5) .con {
  padding: 0.27rem 0.4rem 0.53rem;
}
.wrapper .swiper-slide:nth-child(5) .con h4 {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #000;
}
.wrapper .swiper-slide:nth-child(5) .con p:nth-of-type(1) {
  margin-top: 0.22rem;
}
.wrapper .swiper-slide:nth-child(5) .con p:nth-of-type(1) i:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.1rem;
  color: #2E7A8C;
  font-size: 0.3rem;
  line-height: 0.3rem;
}
.wrapper .swiper-slide:nth-child(5) .con p:nth-of-type(1) i:nth-of-type(2) {
  margin-left: 0.04rem;
  color: #2E7A8C;
  font-size: 0.4rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(5) .con p:nth-of-type(1) i:nth-of-type(3) {
  margin-left: 0.05rem;
  color: #ACACAC;
  font-size: 0.14rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(5) .con p:nth-of-type(2) {
  margin-top: 0.18rem;
  font-size: 0.25rem;
  line-height: 0.42rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(5) .con a {
  display: block;
  margin: 0.43rem auto;
  width: 1.68rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.26rem;
  color: #2E7A8C;
  background-color: #fff;
  border: 1px solid #2E7A8C;
  border-radius: 0.08rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .swiper-slide:nth-child(5) h3 {
  height: 0.88rem;
  line-height: 0.88rem;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-size: 0.3rem;
  color: #444444;
  background: url(../images/point.png) no-repeat 0.4rem 0.3rem;
  background-size: 0.32rem 0.27rem;
  text-indent: 0.85rem;
}
.wrapper .swiper-slide:nth-child(5) .item {
  overflow: hidden;
  padding: 0.26rem 0 0.18rem 0.38rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapper .swiper-slide:nth-child(5) .item:last-of-type {
  border-bottom: none;
}
.wrapper .swiper-slide:nth-child(5) .item:nth-of-type(4),
.wrapper .swiper-slide:nth-child(5) .item:nth-of-type(5) {
  display: none;
}
.wrapper .swiper-slide:nth-child(5) .more {
  display: block;
  margin: 0.77rem auto 0;
  width: 2.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid #666666;
  color: #666666;
  border-radius: 0.08rem;
  font-size: 0.26rem;
  text-align: center;
}
.wrapper .swiper-slide:nth-child(5) .item:nth-of-type(1) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/five/point-1.jpg');
}
.wrapper .swiper-slide:nth-child(5) .item:nth-of-type(2) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/five/point-2.jpg');
}
.wrapper .swiper-slide:nth-child(5) .item:nth-of-type(3) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/five/point-3.jpg');
}
.wrapper .swiper-slide:nth-child(5) .item:nth-of-type(4) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/five/point-4.jpg');
}
.wrapper .swiper-slide:nth-child(5) .item:nth-of-type(5) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/five/point-5.jpg');
}
.wrapper .swiper-slide:nth-child(5) .item-r {
  float: right;
  margin-right: 0.3rem;
  width: 5.6rem;
}
.wrapper .swiper-slide:nth-child(5) .item-r h5 {
  font-size: 0.28rem;
  line-height: 0.39rem;
  color: #6C6C6C;
}
.wrapper .swiper-slide:nth-child(5) .item-r p:nth-of-type(1) {
  height: 0.29rem;
  line-height: 0.29rem;
  color: #ACACAC;
}
.wrapper .swiper-slide:nth-child(5) .item-r p:nth-of-type(1) span:nth-of-type(1) {
  float: left;
  position: relative;
  width: 1.44rem;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/gray-star.png);
}
.wrapper .swiper-slide:nth-child(5) .item-r p:nth-of-type(1) span:nth-of-type(1) i {
  position: absolute;
  width: 50%;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 1.44rem 100%;
  background-image: url('../images/five/star.png');
}
.wrapper .swiper-slide:nth-child(5) .item-r p:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 0.19rem;
  float: left;
  font-size: 0.2rem;
}
.wrapper .swiper-slide:nth-child(5) .item-r p:nth-of-type(1) time {
  float: right;
  text-align: right;
  width: 1.2rem;
  font-size: 0.18rem;
}
.wrapper .swiper-slide:nth-child(5) .item-r p:nth-of-type(2) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  line-height: 0.34rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(5) .arrow {
  background-image: url('../images/five/arrow.png');
}
.wrapper .swiper-slide:nth-child(6) {
  padding-top: 0.43rem;
  padding-bottom: 0.6rem;
}
.wrapper .swiper-slide:nth-child(6) h2 {
  position: relative;
  z-index: 10;
  width: 3.09rem;
  height: 1.81rem;
  margin: 0 auto;
  background-image: url('../images/six/title.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .swiper-slide:nth-child(6) aside {
  margin-top: 0.65rem;
  width: 100%;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/six/product.jpg');
}
.wrapper .swiper-slide:nth-child(6) .con {
  padding: 0.27rem 0.4rem 0.53rem;
}
.wrapper .swiper-slide:nth-child(6) .con h4 {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #000;
}
.wrapper .swiper-slide:nth-child(6) .con p:nth-of-type(1) {
  margin-top: 0.22rem;
}
.wrapper .swiper-slide:nth-child(6) .con p:nth-of-type(1) i:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.1rem;
  color: #F3D01C;
  font-size: 0.3rem;
  line-height: 0.3rem;
}
.wrapper .swiper-slide:nth-child(6) .con p:nth-of-type(1) i:nth-of-type(2) {
  margin-left: 0.04rem;
  color: #F3D01C;
  font-size: 0.4rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(6) .con p:nth-of-type(1) i:nth-of-type(3) {
  margin-left: 0.05rem;
  color: #ACACAC;
  font-size: 0.14rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(6) .con p:nth-of-type(2) {
  margin-top: 0.18rem;
  font-size: 0.25rem;
  line-height: 0.42rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(6) .con a {
  display: block;
  margin: 0.43rem auto;
  width: 1.68rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.26rem;
  color: #F3D01C;
  background-color: #fff;
  border: 1px solid #F3D01C;
  border-radius: 0.08rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .swiper-slide:nth-child(6) h3 {
  height: 0.88rem;
  line-height: 0.88rem;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-size: 0.3rem;
  color: #444444;
  background: url(../images/point.png) no-repeat 0.4rem 0.3rem;
  background-size: 0.32rem 0.27rem;
  text-indent: 0.85rem;
}
.wrapper .swiper-slide:nth-child(6) .item {
  overflow: hidden;
  padding: 0.26rem 0 0.18rem 0.38rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapper .swiper-slide:nth-child(6) .item:last-of-type {
  border-bottom: none;
}
.wrapper .swiper-slide:nth-child(6) .item:nth-of-type(4),
.wrapper .swiper-slide:nth-child(6) .item:nth-of-type(5) {
  display: none;
}
.wrapper .swiper-slide:nth-child(6) .more {
  display: block;
  margin: 0.77rem auto 0;
  width: 2.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid #666666;
  color: #666666;
  border-radius: 0.08rem;
  font-size: 0.26rem;
  text-align: center;
}
.wrapper .swiper-slide:nth-child(6) .item:nth-of-type(1) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/six/point-1.jpg');
}
.wrapper .swiper-slide:nth-child(6) .item:nth-of-type(2) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/six/point-2.jpg');
}
.wrapper .swiper-slide:nth-child(6) .item:nth-of-type(3) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/six/point-3.jpg');
}
.wrapper .swiper-slide:nth-child(6) .item:nth-of-type(4) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/six/point-4.jpg');
}
.wrapper .swiper-slide:nth-child(6) .item:nth-of-type(5) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/six/point-5.jpg');
}
.wrapper .swiper-slide:nth-child(6) .item-r {
  float: right;
  margin-right: 0.3rem;
  width: 5.6rem;
}
.wrapper .swiper-slide:nth-child(6) .item-r h5 {
  font-size: 0.28rem;
  line-height: 0.39rem;
  color: #6C6C6C;
}
.wrapper .swiper-slide:nth-child(6) .item-r p:nth-of-type(1) {
  height: 0.29rem;
  line-height: 0.29rem;
  color: #ACACAC;
}
.wrapper .swiper-slide:nth-child(6) .item-r p:nth-of-type(1) span:nth-of-type(1) {
  float: left;
  position: relative;
  width: 1.44rem;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/gray-star.png);
}
.wrapper .swiper-slide:nth-child(6) .item-r p:nth-of-type(1) span:nth-of-type(1) i {
  position: absolute;
  width: 50%;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 1.44rem 100%;
  background-image: url('../images/six/star.png');
}
.wrapper .swiper-slide:nth-child(6) .item-r p:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 0.19rem;
  float: left;
  font-size: 0.2rem;
}
.wrapper .swiper-slide:nth-child(6) .item-r p:nth-of-type(1) time {
  float: right;
  text-align: right;
  width: 1.2rem;
  font-size: 0.18rem;
}
.wrapper .swiper-slide:nth-child(6) .item-r p:nth-of-type(2) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  line-height: 0.34rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(6) .arrow {
  background-image: url('../images/six/arrow.png');
}
.wrapper .swiper-slide:nth-child(7) {
  padding-top: 0.43rem;
  padding-bottom: 0.6rem;
}
.wrapper .swiper-slide:nth-child(7) h2 {
  position: relative;
  z-index: 10;
  width: 3.09rem;
  height: 1.81rem;
  margin: 0 auto;
  background-image: url('../images/seven/title.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .swiper-slide:nth-child(7) aside {
  margin-top: 0.65rem;
  width: 100%;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/seven/product.jpg');
}
.wrapper .swiper-slide:nth-child(7) .con {
  padding: 0.27rem 0.4rem 0.53rem;
}
.wrapper .swiper-slide:nth-child(7) .con h4 {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #000;
}
.wrapper .swiper-slide:nth-child(7) .con p:nth-of-type(1) {
  margin-top: 0.22rem;
}
.wrapper .swiper-slide:nth-child(7) .con p:nth-of-type(1) i:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.1rem;
  color: #AE97BA;
  font-size: 0.3rem;
  line-height: 0.3rem;
}
.wrapper .swiper-slide:nth-child(7) .con p:nth-of-type(1) i:nth-of-type(2) {
  margin-left: 0.04rem;
  color: #AE97BA;
  font-size: 0.4rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(7) .con p:nth-of-type(1) i:nth-of-type(3) {
  margin-left: 0.05rem;
  color: #ACACAC;
  font-size: 0.14rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(7) .con p:nth-of-type(2) {
  margin-top: 0.18rem;
  font-size: 0.25rem;
  line-height: 0.42rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(7) .con a {
  display: block;
  margin: 0.43rem auto;
  width: 1.68rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.26rem;
  color: #AE97BA;
  background-color: #fff;
  border: 1px solid #AE97BA;
  border-radius: 0.08rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .swiper-slide:nth-child(7) h3 {
  height: 0.88rem;
  line-height: 0.88rem;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-size: 0.3rem;
  color: #444444;
  background: url(../images/point.png) no-repeat 0.4rem 0.3rem;
  background-size: 0.32rem 0.27rem;
  text-indent: 0.85rem;
}
.wrapper .swiper-slide:nth-child(7) .item {
  overflow: hidden;
  padding: 0.26rem 0 0.18rem 0.38rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapper .swiper-slide:nth-child(7) .item:last-of-type {
  border-bottom: none;
}
.wrapper .swiper-slide:nth-child(7) .item:nth-of-type(4),
.wrapper .swiper-slide:nth-child(7) .item:nth-of-type(5) {
  display: none;
}
.wrapper .swiper-slide:nth-child(7) .more {
  display: block;
  margin: 0.77rem auto 0;
  width: 2.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid #666666;
  color: #666666;
  border-radius: 0.08rem;
  font-size: 0.26rem;
  text-align: center;
}
.wrapper .swiper-slide:nth-child(7) .item:nth-of-type(1) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/seven/point-1.jpg');
}
.wrapper .swiper-slide:nth-child(7) .item:nth-of-type(2) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/seven/point-2.jpg');
}
.wrapper .swiper-slide:nth-child(7) .item:nth-of-type(3) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/seven/point-3.jpg');
}
.wrapper .swiper-slide:nth-child(7) .item:nth-of-type(4) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/seven/point-4.jpg');
}
.wrapper .swiper-slide:nth-child(7) .item:nth-of-type(5) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/seven/point-5.jpg');
}
.wrapper .swiper-slide:nth-child(7) .item-r {
  float: right;
  margin-right: 0.3rem;
  width: 5.6rem;
}
.wrapper .swiper-slide:nth-child(7) .item-r h5 {
  font-size: 0.28rem;
  line-height: 0.39rem;
  color: #6C6C6C;
}
.wrapper .swiper-slide:nth-child(7) .item-r p:nth-of-type(1) {
  height: 0.29rem;
  line-height: 0.29rem;
  color: #ACACAC;
}
.wrapper .swiper-slide:nth-child(7) .item-r p:nth-of-type(1) span:nth-of-type(1) {
  float: left;
  position: relative;
  width: 1.44rem;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/gray-star.png);
}
.wrapper .swiper-slide:nth-child(7) .item-r p:nth-of-type(1) span:nth-of-type(1) i {
  position: absolute;
  width: 50%;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 1.44rem 100%;
  background-image: url('../images/seven/star.png');
}
.wrapper .swiper-slide:nth-child(7) .item-r p:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 0.19rem;
  float: left;
  font-size: 0.2rem;
}
.wrapper .swiper-slide:nth-child(7) .item-r p:nth-of-type(1) time {
  float: right;
  text-align: right;
  width: 1.2rem;
  font-size: 0.18rem;
}
.wrapper .swiper-slide:nth-child(7) .item-r p:nth-of-type(2) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  line-height: 0.34rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(7) .arrow {
  background-image: url('../images/seven/arrow.png');
}
.wrapper .swiper-slide:nth-child(8) {
  padding-top: 0.43rem;
  padding-bottom: 0.6rem;
}
.wrapper .swiper-slide:nth-child(8) h2 {
  position: relative;
  z-index: 10;
  width: 3.09rem;
  height: 1.81rem;
  margin: 0 auto;
  background-image: url('../images/eight/title.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .swiper-slide:nth-child(8) aside {
  margin-top: 0.65rem;
  width: 100%;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/eight/product.jpg');
}
.wrapper .swiper-slide:nth-child(8) .con {
  padding: 0.27rem 0.4rem 0.53rem;
}
.wrapper .swiper-slide:nth-child(8) .con h4 {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #000;
}
.wrapper .swiper-slide:nth-child(8) .con p:nth-of-type(1) {
  margin-top: 0.22rem;
}
.wrapper .swiper-slide:nth-child(8) .con p:nth-of-type(1) i:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.1rem;
  color: #91A7B6;
  font-size: 0.3rem;
  line-height: 0.3rem;
}
.wrapper .swiper-slide:nth-child(8) .con p:nth-of-type(1) i:nth-of-type(2) {
  margin-left: 0.04rem;
  color: #91A7B6;
  font-size: 0.4rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(8) .con p:nth-of-type(1) i:nth-of-type(3) {
  margin-left: 0.05rem;
  color: #ACACAC;
  font-size: 0.14rem;
  line-height: 0.6rem;
}
.wrapper .swiper-slide:nth-child(8) .con p:nth-of-type(2) {
  margin-top: 0.18rem;
  font-size: 0.25rem;
  line-height: 0.42rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(8) .con a {
  display: block;
  margin: 0.43rem auto;
  width: 1.68rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.26rem;
  color: #91A7B6;
  background-color: #fff;
  border: 1px solid #91A7B6;
  border-radius: 0.08rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .swiper-slide:nth-child(8) h3 {
  height: 0.88rem;
  line-height: 0.88rem;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-size: 0.3rem;
  color: #444444;
  background: url(../images/point.png) no-repeat 0.4rem 0.3rem;
  background-size: 0.32rem 0.27rem;
  text-indent: 0.85rem;
}
.wrapper .swiper-slide:nth-child(8) .item {
  overflow: hidden;
  padding: 0.26rem 0 0.18rem 0.38rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapper .swiper-slide:nth-child(8) .item:last-of-type {
  border-bottom: none;
}
.wrapper .swiper-slide:nth-child(8) .item:nth-of-type(4),
.wrapper .swiper-slide:nth-child(8) .item:nth-of-type(5) {
  display: none;
}
.wrapper .swiper-slide:nth-child(8) .more {
  display: block;
  margin: 0.77rem auto 0;
  width: 2.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid #666666;
  color: #666666;
  border-radius: 0.08rem;
  font-size: 0.26rem;
  text-align: center;
}
.wrapper .swiper-slide:nth-child(8) .item:nth-of-type(1) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/eight/point-1.jpg');
}
.wrapper .swiper-slide:nth-child(8) .item:nth-of-type(2) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/eight/point-2.jpg');
}
.wrapper .swiper-slide:nth-child(8) .item:nth-of-type(3) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/eight/point-3.jpg');
}
.wrapper .swiper-slide:nth-child(8) .item:nth-of-type(4) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/eight/point-4.jpg');
}
.wrapper .swiper-slide:nth-child(8) .item:nth-of-type(5) .item-l {
  float: left;
  width: 0.86rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/eight/point-5.jpg');
}
.wrapper .swiper-slide:nth-child(8) .item-r {
  float: right;
  margin-right: 0.3rem;
  width: 5.6rem;
}
.wrapper .swiper-slide:nth-child(8) .item-r h5 {
  font-size: 0.28rem;
  line-height: 0.39rem;
  color: #6C6C6C;
}
.wrapper .swiper-slide:nth-child(8) .item-r p:nth-of-type(1) {
  height: 0.29rem;
  line-height: 0.29rem;
  color: #ACACAC;
}
.wrapper .swiper-slide:nth-child(8) .item-r p:nth-of-type(1) span:nth-of-type(1) {
  float: left;
  position: relative;
  width: 1.44rem;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/gray-star.png);
}
.wrapper .swiper-slide:nth-child(8) .item-r p:nth-of-type(1) span:nth-of-type(1) i {
  position: absolute;
  width: 50%;
  height: 0.22rem;
  background-repeat: no-repeat;
  background-size: 1.44rem 100%;
  background-image: url('../images/eight/star.png');
}
.wrapper .swiper-slide:nth-child(8) .item-r p:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 0.19rem;
  float: left;
  font-size: 0.2rem;
}
.wrapper .swiper-slide:nth-child(8) .item-r p:nth-of-type(1) time {
  float: right;
  text-align: right;
  width: 1.2rem;
  font-size: 0.18rem;
}
.wrapper .swiper-slide:nth-child(8) .item-r p:nth-of-type(2) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  line-height: 0.34rem;
  text-align: justify;
  color: #000;
}
.wrapper .swiper-slide:nth-child(8) .arrow {
  background-image: url('../images/eight/arrow.png');
}
.wrapper .swiper-slide:last-child ul li {
  width: 50%;
  padding-top: 0.3rem;
}
.wrapper .swiper-slide:last-child ul li:nth-child(2n-1) {
  float: left;
}
.wrapper .swiper-slide:last-child ul li:nth-child(2n) {
  float: right;
}
.wrapper .swiper-slide:last-child ul li .img {
  width: 3.3rem;
  height: 3.3rem;
  margin: 0 auto 0.1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(1) .img {
  background-image: url('../images/nine/small-1.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(2) .img {
  background-image: url('../images/nine/small-2.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(3) .img {
  background-image: url('../images/nine/small-3.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(4) .img {
  background-image: url('../images/nine/small-4.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(5) .img {
  background-image: url('../images/nine/small-5.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(6) .img {
  background-image: url('../images/nine/small-6.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(7) .img {
  background-image: url('../images/nine/small-7.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(8) .img {
  background-image: url('../images/nine/small-8.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(9) .img {
  background-image: url('../images/nine/small-9.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(10) .img {
  background-image: url('../images/nine/small-10.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(11) .img {
  background-image: url('../images/nine/small-11.jpg');
}
.wrapper .swiper-slide:last-child ul li:nth-of-type(12) .img {
  background-image: url('../images/nine/small-12.jpg');
}
.wrapper .swiper-slide:last-child ul li h5 {
  overflow: hidden;
  height: 0.34rem;
  font-size: 0.24rem;
  line-height: 0.34rem;
  color: #82898D;
  text-align: center;
}
.wrapper .swiper-slide:last-child ul li p {
  text-align: center;
  height: 0.45rem;
}
.wrapper .swiper-slide:last-child ul li p i:nth-child(1) {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.2rem;
  color: #000000;
  font-size: 0.2rem;
  line-height: 0.2rem;
}
.wrapper .swiper-slide:last-child ul li p i:nth-child(2) {
  color: #000000;
  margin-left: 0.04rem;
  font-size: 0.3rem;
  line-height: 0.45rem;
}
.wrapper .swiper-slide:last-child ul li p i:nth-child(3) {
  color: #ACACAC;
  margin-left: 0.11rem;
  font-size: 0.16rem;
  line-height: 0.45rem;
}
.wrapper .swiper-slide:last-child footer {
  margin-top: 0.12rem;
  padding-top: 2.39rem;
  height: 2.85rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/nine/end.jpg);
}
.wrapper .swiper-slide:last-child footer p {
  width: 6.73rem;
  padding: 0.28rem 0 0.16rem;
  margin: 0 auto;
  background-color: #fff;
  border: 0.08rem solid #E8E8E8;
  text-align: center;
  color: #000000;
  font-size: 0.26rem;
  line-height: 0.5rem;
}
.loading {
  z-index: 990;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #FFF;
}
.loading > div {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.7rem;
  height: 1.4rem;
  width: 100%;
}
.loading > div > p:nth-of-type(1) {
  position: relative;
  width: 50%;
  height: 0.4rem;
  margin: 0 auto;
  border: 1px solid #bc1742;
  border-radius: 0.4rem;
}
.loading > div > p:nth-of-type(1) span {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.4rem;
  width: 0%;
  min-width: 0.4rem !important;
  background-color: #bc1742;
  border-radius: 0.2rem;
}
.loading > div > p:nth-of-type(2) {
  font-size: 0.36rem;
  line-height: 1rem;
  text-align: center;
  color: #000;
}
@-webkit-keyframes down {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-0.8rem, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-0.8rem, 0);
  }
}
@keyframes down {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  50% {
    opacity: 0;
    transform: translate(-0.8rem, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-0.8rem, 0);
  }
}
