.main,.cell{
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    min-height: 100%;
}
.hide{
    display: none;
}
.cell.transition {
    -webkit-transition-duration: .6s;
    -moz-transition-duration: .6s;
    transition-duration: .6s;
}
.cell.right100{
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.cell.left100{
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.cell.center{
	z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.logo{
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.preLoading{
    z-index: 1111;      /*永远的1*/
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -3.875rem;
    margin-top: -0.335rem;
    width: 7.75rem;
    height: 0.67rem;
    background: url(../images/loading.png) no-repeat;
    background-size: 100% 100%;
}
.preLoading .preCon{
    position: absolute;
    left: 0.07rem;
    top: 0.12rem;
    height: 0.43rem;
    min-width: 0.28rem;
    border-radius: 0.14rem;
    background-color: #0098DA;
    /*6.89*/
}
.preLoading .preNum{
    position: absolute;
    top: 0.12rem;
    right: 0.04rem;
    width: 0.7rem;
    height: 0.43rem;
    line-height: 0.43rem;
    font-size: 0.16rem;
    text-align: center;
    color: #fff;
}
.preMask{
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/*第一页 start*/
.cell1{
    background-color: #fff;
}
.cell1 h1{
    padding: 0.9rem 0.66rem 0;
    font-size: 0.72rem;
    min-height: 0.89rem;
    line-height: 0.89rem;
}
.cell1 > p{
    padding: 0.28rem 0.66rem;
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.35rem;
    color: #999999;
}
.cell1 > p > time{
    margin-right: 0.25rem;
}
.cell1 > p > span{
    color: #4695B7;
}
.cell1 .con{
    padding-bottom: 0.58rem;
}
.cell1 .con > p{
    padding: 0.35rem 0.66rem 0;
    text-indent: 2em;
    font-size: 0.35rem;
    line-height: 0.7rem;
    color: #000000;
    text-align: justify;
}

.cell1 .animate{
    overflow: hidden;
    position: relative;
    width: 9.84rem;
    height: 6.82rem;
    margin: 0.4rem auto;
    background: url(../images/bg1.jpg) no-repeat;
    background-size: 100% 100%;
}
.cell1 .man{
    position: absolute;
    top: 1.11rem;
    left: 0.33rem;
    width: 9.24rem;
    height: 9.18rem;
    background: url(../images/head1.png) no-repeat;
    background-size: 100% 100%;
}


.cell1 .font{
    visibility: hidden;
    position: absolute;
    top: 2.11rem;
    left: 2.65rem;
    width: 4.6rem;
    height: 1.16rem;
    background: url(../images/font7.png) no-repeat;
    background-size: 100% 100%;
}
.cell1 .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.4rem;
    background: url(../images/shadow.png) no-repeat;
    background-size: 100% 100%;
}
.cell1 .man2{
    visibility: hidden;
    position: absolute;
    top: 3.91rem;
    left: 3.22rem;
    width: 3.42rem;
    height: 1.93rem;
    background: url(../images/blankman2.png) no-repeat;
    background-size: 100% 100%;
}
.cell1 .hand{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 2.56rem;
    left: 6.71rem;
    width: 1.32rem;
    height: 1.3rem;
    background: url(../images/hand3.png) no-repeat;
    background-size: 100% 100%;
    
}
.cell1 .animate > i{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-animation: dianhuo 2s linear 0s infinite alternate;
    animation: dianhuo 2s linear 0s infinite alternate;
}
.cell1 .animate > i:nth-of-type(1){
    top: 0.58rem;
    left: 5.4rem;
    width: 0.45rem;
    height: 0.44rem;
    background-image: url(../images/star6.png);
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
}
.cell1 .animate > i:nth-of-type(2){
    top: 2.29rem;
    left: 7.9rem;
    width: 0.45rem;
    height: 0.45rem;
    background-image: url(../images/star4.png);
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
}
.cell1 .animate > i:nth-of-type(3){
    top: 1.63rem;
    left: 4.62rem;
    width: 0.45rem;
    height: 0.45rem;
    background-image: url(../images/star4.png);
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
}
.cell1 .animate > i:nth-of-type(4){
    top: 2.16rem;
    right: 0.23rem;
    width: 0.45rem;
    height: 0.45rem;
    background-image: url(../images/star4.png);
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
}
.cell1 .animate > i:nth-of-type(5){
    top: 1.77rem;
    left: 4.78rem;
    width: 0.45rem;
    height: 0.45rem;
    background-image: url(../images/star4.png);
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
}
.cell1 .animate > i:nth-of-type(6){
    top: 3.41rem;
    left: 2.13rem;
    width: 0.32rem;
    height: 0.49rem;
    background-image: url(../images/star5.png);
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
}

.cell1.active .man{
    visibility: visible;
    -webkit-animation:fly 2s .2s ease-in both;
            animation:fly 2s .2s ease-in both;
}


.cell1.active .font{
    visibility: visible;
    -webkit-animation:fadeInDown 1s 2.2s ease both;
            animation:fadeInDown 1s 2.2s ease both;
}
.cell1.active .shadow{
    visibility: visible;
    background: url(../images/shadow.png) no-repeat;
    background-size: 100% 100%;
}
.cell1.active .man2{
    visibility: visible;
    -webkit-animation:fadeInUp 1s 3.2s ease both;
            animation:fadeInUp 1s 3.2s ease both;
}
.cell1.active .hand{
    visibility: visible;
    -webkit-animation: dianhuo 1s linear 4.2s infinite alternate;
    animation: dianhuo 1s linear 4.2s infinite alternate;
}
.cell1.rotate{
    -webkit-animation: r 0.7s linear .3s 1;
            animation: r 0.7s linear .3s 1;
}
.cell1.stop .hand{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.cell1.stop .animate > i{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
/*第一页 end*/

/*第二页 start*/
.cell2{
    background: url(../images/bg2.jpg) no-repeat;
    background-size: 100% 100%;
}

.music{
    display: none;
    z-index: 990;
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    width: 60px;
    height: 60px;
    background: url(../images/music.png) no-repeat;
    background-size: 60px;
    -webkit-animation: r3 2s linear infinite;
            animation: r3 2s linear infinite;
    -webkit-transform: scaleX(0.4) scaleY(0.4);
            transform: scaleX(0.4) scaleY(0.4);
}
.music.close{
    background-position: 0 -83px;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}


.cell2 .hand{
    position: absolute;
    top: 55.62%;
    left: 72.59%;
    width: 1.46rem;
    height: 1.44rem;
    background: url(../images/hand2.png) no-repeat;
    background-size: 100% 100%;
}
.cell2 .star1{
    position: absolute;
    width: 3.88rem;
    height: 4.74rem;
    top: 2.41rem;
    left: 1.28rem;
    background: url(../images/starb1.png) no-repeat;
    background-size: 100% 100%;
}
.cell2 .star2{
    position: absolute;
    width: 3.06rem;
    height: 2.33rem;
    top: 0;
    left: 5rem;
    background: url(../images/starb2.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: dianhuo 2s linear 0.8s infinite alternate;
    animation: dianhuo 2s linear 0.8s infinite alternate;
}

/*.cell2.active{
    opacity: 1;
    -webkit-animation: r2 0.7s linear 0s 1;
            animation: r2 0.7s linear 0s 1;
}*/
.cell2.active .star1{
    -webkit-animation: dianhuo 2s linear 1s infinite alternate;
    animation: dianhuo 2s linear 1s infinite alternate;
}
.cell2.active .star2{
    -webkit-animation: dianhuo 2s linear 1.5s infinite alternate;
    animation: dianhuo 2s linear 1.5s infinite alternate;
}
.cell2.active .hand{
    -webkit-animation: dianhuo 1s linear .3s infinite alternate;
    animation: dianhuo 1s linear .3s infinite alternate;
}
.cell2.stop .star1,.cell2.stop .star2,.cell2.stop .hand{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
/*第二页 end*/

/*第三页 start*/
.cell3{
    overflow: hidden;
}
.cell3 .leftImg,.cell3 .rightImg{
    position: absolute;
    top: 0;
    /*width: 5.18rem;*/
    height: 100%;
    background: url(../images/bg3.jpg) no-repeat;
    background-size: cover;
}
.cell3 .leftImg{
    background-position: right top;
    /*left: -5.18rem;*/
}
.cell3 .rightImg{
    background-position: left top;
    /*right: -5.18rem;*/
}

.cell3 .contain{
    background: url(../images/bg3.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
    -webkit-transform: translate3d(0px,0px,0px);
            transform: translate3d(0px,0px,0px);
}
.cell3 .starc1{
    position: absolute;
    top: 13.1%;
    left: 50%;
    margin-left: -14.48rem;
    width: 28.96rem;
    height: 6.61rem;
    background: url(../images/starc1.png) no-repeat;
    background-size: 100% 100%;
}
.cell3 .starc2{
    position: absolute;
    top: 33.2%;
    left: 50%;
    margin-left: -14.65rem;
    width: 29.31rem;
    height: 7.67rem;
    background: url(../images/starc2.png) no-repeat;
    background-size: 100% 100%;
}
.handS{
    z-index: 990;
    display: none;
    opacity: 0;
    /*position: absolute;
    left: 48.275%;*/
    position: fixed;
    left: 50%;
    bottom: 0.5rem;
    margin-left: -4.01rem;
    width: 8.02rem;
    height: 1.92rem;
    background: url(../images/hand-help.png) no-repeat;
    background-size: 100% 100%;
}
.fontS{
    z-index: 990;
    display: none;
    opacity: 0;
    position: fixed;
    left: 50%;
    bottom: 2.48rem;
    margin-left: -1.4rem;
    width: 2.97rem;
    height: 0.49rem;
    background: url(../images/addf.png) no-repeat;
    background-size: 100% 100%;
}
.handS.active{
    display: block;
    -webkit-animation: dianhuoS 2s linear .3s infinite alternate;
    animation: dianhuoS 2s linear .3s infinite alternate;
}
.fontS.active{
    display: block;
    -webkit-animation: handrS 2s linear .3s infinite alternate;
    animation: handrS 2s linear .3s infinite alternate;
}

/*W 9324 H 1636*/
.cell3 .ball{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*以下修正值*/
    margin-top: 2%; 
    -webkit-transform:scale(2);
    transform:scale(2);
}
.cell3 .addBall{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    margin-top: 6%; 
    -webkit-transform:scale(2);
    transform:scale(2);
}

.cell3 .addBall1{
    top: 36.67%;
    left: 8.04%;
    width: 10.71%;
    height: 19.62%;
    background-image: url(../images/ball1.png);
}
.cell3 .addBall2{
    top: 5.26%;
    left: 35.34%;
    width: 11.73%;
    height: 18.7%;
    background-image: url(../images/ball2.png);
}
.cell3 .addBall3{
    top: 30.44%;
    left: 67.74%;
    width: 11.79%;
    height: 19.25%;
    background-image: url(../images/ball3.png);
}
.cell3 .addBall7{
    top: 38.39%;
    left: 0.97%;
    width: 14.7%;
    height: 23.47%;
    background-image: url(../images/ball7.png);
}
.cell3 .addBall8{
    top: 5.13%;
    left: 36.29%;
    width: 11.73%;
    height: 18.46%;
    background-image: url(../images/ball8.png);
}
.cell3 .addBall9{
    top: 32.03%;
    left: 70.24%;
    width: 13.23%;
    height: 21.85%;
    background-image: url(../images/ball9.png);
}


.cell3 .ball1{
    top: 36.67%;
    left: 2.68%;
    width: 3.57%;
    height: 19.62%;
    background-image: url(../images/ball1.png);
}
.cell3 .ball2{
    top: 5.26%;
    left: 11.78%;
    width: 3.91%;
    height: 18.7%;
    background-image: url(../images/ball2.png);
}
.cell3 .ball3{
    top: 30.44%;
    left: 22.58%;
    width: 3.93%;
    height: 19.25%;
    background-image: url(../images/ball3.png);
}
.cell3 .ball4{
    top: 4.71%;
    left: 34.19%;
    width: 3.91%;
    height: 18.64%;
    background-image: url(../images/ball4.png);
}
.cell3 .ball5{
    top: 35.64%;
    left: 46.31%;
    width: 3.93%;
    height: 20.05%;
    background-image: url(../images/ball5.png);
}
.cell3 .ball6{
    top: 18.34%;
    left: 56.6%;
    width: 3.93%;
    height: 21.58%;
    background-image: url(../images/ball6.png);
}
.cell3 .ball7{
    top: 38.39%;
    left: 66.99%;
    width: 4.9%;
    height: 23.47%;
    background-image: url(../images/ball7.png);
}
.cell3 .ball8{
    top: 5.13%;
    left: 78.76%;
    width: 3.91%;
    height: 18.46%;
    background-image: url(../images/ball8.png);
}
.cell3 .ball9{
    top: 32.03%;
    left: 90.09%;
    width: 4.41%;
    height: 21.85%;
    background-image: url(../images/ball9.png);
}




.cell3.active .starc1{
    -webkit-animation: dianhuo 2s linear 0.3s infinite alternate;
    animation: dianhuo 2s linear 0.3s infinite alternate;
}
.cell3.active .starc2{
    -webkit-animation: dianhuo 2s linear 0.8s infinite alternate;
    animation: dianhuo 2s linear 0.8s infinite alternate;
}


.cell3.active .ball:nth-of-type(2n){
    -webkit-animation:updown 4s .2s linear infinite;
            animation:updown 4s .2s linear infinite;
}
.cell3.active .ball:nth-of-type(2n+1){
    -webkit-animation:updown2 4s .2s linear infinite;
            animation:updown2 4s .2s linear infinite;
}

.cell3.active .addBall:nth-of-type(2n){
    -webkit-animation:updown 4s .2s linear infinite;
            animation:updown 4s .2s linear infinite;
}
.cell3.active .addBall:nth-of-type(2n+1){
    -webkit-animation:updown2 4s .2s linear infinite;
            animation:updown2 4s .2s linear infinite;
}

/*.main .cell3.active .addBall9,
.main .cell3.active .addBall1,
.main .cell3.active .ball9,
.main .cell3.active .ball1{
    -webkit-animation:none;
            animation:none;
}*/



.cell3.stop .starc1,.cell3.stop .starc2,.cell3.stop .hand,.main .cell3.stop .ball,.main .cell3.stop .addBall{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

/*第三页 end*/


/*第四页 start*/
.cell4{
    overflow: hidden;
    background: url(../images/bg4.jpg) no-repeat;
    background-size: 100% 100%;
}
.cell4 .item{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cell4 .item.active{
    display: block;
}
.cell4 .item .box{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4.82rem;
    margin-top: -6.5rem;
    width: 9.64rem;
    height: 12.58rem;
}
.cell4 .item .box > div{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cell4 .back{
    z-index: 10;
    position: absolute;
    right: 4.54%;
    top: 3.73%;
    width: 1.04rem;
    height: 1.03rem;
    background: url(../images/back.png) no-repeat;
    background-size: 100% 100%;
}
.cell4 .box .cc0{
    -webkit-transform: scaleX(0.86) scaleY(0.86);
            transform: scaleX(0.86) scaleY(0.86);
}
.cell4 .yf0{
    left: 0;
    bottom: 0;
    width: 9.64rem;
    height: 7.84rem;
    background-image: url(../images/yf0.png);
}
.cell4 .ws0{
    left: 50%;
    top: 3.51rem;
    margin-left: -3.63rem;
    width: 7.26rem;
    height: 6.9rem;
    background-image: url(../images/ws0.png);
}
.cell4 .wy0{
    left: 50%;
    top: 5.99rem;
    margin-left: -4.32rem;
    width: 8.64rem;
    height: 6.34rem;
    background-image: url(../images/wy0.png);
}
.cell4 .xj0{
    left: 50%;
    top: 5.39rem;
    margin-left: -4.27rem;
    width: 8.54rem;
    height: 6.74rem;
    background-image: url(../images/xj0.png);
}
.cell4 .sp0{
    left: 50%;
    top: 5.33rem;
    margin-left: -4.21rem;
    width: 8.42rem;
    height: 6.88rem;
    background-image: url(../images/sp0.png);
}
.cell4 .time0{
    left: 50%;
    top: 1.72rem;
    margin-left: -3.04rem;
    width: 6.08rem;
    height: 6.32rem;
    background-image: url(../images/time0.png);
}
.cell4 .jt0{
    left: 50%;
    top: 1.89rem;
    margin-left: -3.58rem;
    width: 7.16rem;
    height: 4.74rem;
    background-image: url(../images/jt0.png);
}
.cell4 .tp0{
    left: 50%;
    top: 0.34rem;
    margin-left: -4.125rem;
    width: 8.25rem;
    height: 9.23rem;
    background-image: url(../images/tp0.png);
}
.cell4 .tip0{
    left: 50%;
    top: 5.51rem;
    margin-left: -4.34rem;
    width: 8.68rem;
    height: 5.63rem;
    background-image: url(../images/tip0.png);
}



.cell4 .yf2-1{
    top: 2.73rem;
    left: 3.43rem;
    width: 1.08rem;
    height: 1.7rem;
    background-image: url(../images/yf2-1.png);
}
.cell4 .ws2-1{
    top: 1.31rem;
    left: 2.77rem;
    width: 1.73rem;
    height: 1.21rem;
    background-image: url(../images/ws2-1.png);
}
.cell4 .wy2-1{
    top: 2.8rem;
    left: 3.39rem;
    width: 1.08rem;
    height: 1.7rem;
    background-image: url(../images/wy2-1.png);
}
.cell4 .xj2-1{
    top: 2.77rem;
    left: 2.89rem;
    width: 1.73rem;
    height: 1.21rem;
    background-image: url(../images/xj2-1.png);
}
.cell4 .sp2-1{
    top: 2.73rem;
    left: 3.32rem;
    width: 1.08rem;
    height: 1.7rem;
    background-image: url(../images/sp2-1.png);
}


.cell4 .yf2-2{
    top: 3.73rem;
    left: 4.36rem;
    width: 1.87rem;
    height: 3.18rem;
    background-image: url(../images/yf2-2.png);
}
.cell4 .ws2-2{
    top: 2.16rem;
    left: 4.38rem;
    width: 1.52rem;
    height: 3.3rem;
    background-image: url(../images/ws2-2.png);
}
.cell4 .wy2-2{
    top: 3.8rem;
    left: 4.32rem;
    width: 1.87rem;
    height: 3.18rem;
    background-image: url(../images/wy2-2.png);
}
.cell4 .xj2-2{
    top: 3.61rem;
    left: 4.38rem;
    width: 1.52rem;
    height: 3.3rem;
    background-image: url(../images/xj2-2.png);
}
.cell4 .sp2-2{
    top: 3.73rem;
    left: 4.25rem;
    width: 1.87rem;
    height: 3.18rem;
    background-image: url(../images/sp2-2.png);
}


.cell4 .yf2-3{
    top: 2rem;
    left: 4.27rem;
    width: 1.36rem;
    height: 2.01rem;
    background-image: url(../images/yf2-3.png);
}
.cell4 .ws2-3{
    top: 0.64rem;
    left: 4.2rem;
    width: 1.2rem;
    height: 1.76rem;
    background-image: url(../images/ws2-3.png);
}
.cell4 .wy2-3{
    top: 2.09rem;
    left: 4.35rem;
    width: 1.29rem;
    height: 1.89rem;
    background-image: url(../images/wy2-3.png);
}
.cell4 .xj2-3{
    top: 2.14rem;
    left: 4.22rem;
    width: 1.19rem;
    height: 1.86rem;
    background-image: url(../images/xj2-3.png);
}
.cell4 .sp2-3{
    top: 2.19rem;
    left: 4.43rem;
    width: 1.24rem;
    height: 1.77rem;
    background-image: url(../images/sp2-3.png);
}

.cell4 .item .cc2-1,
.cell4 .item .cc2-2,
.cell4 .item .cc2-3{
    opacity: 0;
}

.cell4 .item .bottom{
    opacity: 0;
    position: absolute;
    bottom: 0.43rem;
    left: 7.14%;
    width: 9rem;
    height: 1.71rem;
}
.cell4 .item .bottom .love{
    position: relative;
    float: left;
    width: 1.62rem;
    height: 1.71rem;
}
.cell4 .item .bottom .love i:first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 1.56rem;
    height: 1.24rem;
    background-repeat: no-repeat;
    background-image: url(../images/heart.png);
    background-size: 100% 100%;
}
.cell4 .item .bottom .love i:last-child{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0.97rem;
    height: 0.99rem;
    background-repeat: no-repeat;
    background-image: url(../images/ball-hand.png);
    background-size: 100% 100%;
}
.cell4 .item .bottom .con{
    float: left;
    padding-left: 0.2rem;
    width: 7.1rem;
    height: 1.71rem;
}
.cell4 .item .bottom .con h3{
    font-size: 0.5rem;
    color: #fff;
    line-height: 0.88rem;
    font-weight: normal;
}
.cell4 .item .bottom .con .count{
    font-size: 0.6rem;
    color: #FFDE47;
}
.cell4 .item .bottom .con p{
    font-size: 0.3rem;
    line-height: 0.36rem;
    color: #fff;
}




.cell4 .item.active .box,.cell4 .item.active .back{
    -webkit-animation:fadeInDown 1s 0.3s ease both;
            animation:fadeInDown 1s 0.3s ease both;
}
.cell4 .item.active .cc2-1{
    -webkit-transform-origin:right bottom;
            transform-origin:right bottom;
    -webkit-animation:handr 1.6s 1.3s linear infinite;
            animation:handr 1.6s 1.3s linear infinite;
} 
.cell4 .item.active .cc2-3{
    -webkit-transform-origin:center bottom;
            transform-origin:center bottom;
    -webkit-animation:headr 1.6s 1.3s linear infinite;
            animation:headr 1.6s 1.3s linear infinite;
}
.cell4 .item.active .cc2-2{
    -webkit-animation: bodyr 1.6s 1.3s linear infinite;
            animation: bodyr 1.6s 1.3s linear infinite;
} 

.cell4 .item .bottom{
    -webkit-animation:fadeInUp 1s 2.3s ease both;
            animation:fadeInUp 1s 2.3s ease both;
}
.cell4 .item.active .bottom .love i:first-child{
    -webkit-animation:love 1s 3.3s ease infinite alternate;
            animation:love 1s 3.3s ease infinite alternate;
}
.cell4 .item.active .bottom .love i:last-child{
    -webkit-animation: dianhuo 1s linear 3.3s infinite alternate;
            animation: dianhuo 1s linear 3.3s infinite alternate;
}


.cell4 .time2{
    opacity: 0;
    top: 0.45rem;
    left: 3.45rem; /*3.53*/
    width: 2.87rem;
    height: 3.34rem;
    background-image: url(../images/time2.png);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
}
.cell4 .item6 .font{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -4.24rem;
    width: 8.48rem;
    height: 6.55rem;
    background: url(../images/time3.png) no-repeat;
    background-size: 100% 100%;
}

.cell4 .item.active .time2{
    -webkit-animation: alarm 0.15s 1.5s ease infinite;
            animation: alarm 0.15s 1.5s ease infinite;
}
.cell4 .item.active .font{
    -webkit-animation:fadeInDown 1s 0.3s ease both;
            animation:fadeInDown 1s 0.3s ease both;
}


.cell4 .jt2-1{
    opacity: 0;
    left: 0.98rem;
    top: 1.43rem;
    width: 2.52rem;
    height: 2.45rem;
    background-image: url(../images/jt2-1.png);
}
.cell4 .jt2-2{
    opacity: 0;
    top: 2.23rem;
    left: 6.41rem;
    width: 2.59rem;
    height: 2.39rem;
    background-image: url(../images/jt2-2.png);
}
.cell4 .item7 .font{
    position: absolute;
    left: 0.94rem;
    bottom: 0.12rem;
    width: 8.48rem;
    height: 7.66rem;
    background: url(../images/jt3.png) no-repeat;
    background-size: 100% 100%;
}

.cell4 .item.active .jt2-1{
    -webkit-animation: upupup 1s 2s linear infinite;
            animation: upupup 1s 2s linear infinite;
}
.cell4 .item.active .jt2-2{
    -webkit-animation: downdowndown 1s 2s linear infinite;
            animation: downdowndown 1s 2s linear infinite;
}


.cell4 .tp2{
    opacity: 0;
    top: 0.47rem;
    left: 2.59rem;
    width: 4.54rem;
    height: 3.94rem;
    background-image: url(../images/tp2.png);
}

.cell4 .item8 .font{
    position: absolute;
    left: 0.94rem;
    bottom: 3.18%;
    width: 8.48rem;
    height: 5.38rem;
    background: url(../images/tp3.png) no-repeat;
    background-size: 100% 100%;
}

.cell4 .item.active .tp2{
    -webkit-animation: leftright 1s 2s linear infinite;
            animation: leftright 1s 2s linear infinite;
}


.cell4 .tip2-1{
    opacity: 0;
    top: 1.85rem;
    left: 1.21rem;
    width: 2.71rem;
    height: 5.14rem;
    background-image: url(../images/tip2-1.png);
}
.cell4 .tip2-2{
    opacity: 0;
    top: 1.85rem;
    left: 5.37rem;
    width: 3rem;
    height: 5.03rem;
    background-image: url(../images/tip2-2.png);
}
.cell4 .tip2-3-1{
    opacity: 0;
    top: 2.23rem;
    left: 1.11rem;
    width: 1.74rem;
    height: 1.86rem;
    background-image: url(../images/tip2-1-1.png);
    -webkit-transform-origin:center bottom;
            transform-origin:center bottom;
}
.cell4 .tip2-3-2{
    opacity: 0;
    top: 2rem;
    left: 6.48rem;
    width: 1.79rem;
    height: 1.86rem;
    background-image: url(../images/tip2-2-1.png);
    -webkit-transform-origin:center bottom;
            transform-origin:center bottom;
}
.cell4 .tip3{
    opacity: 0;
    top: 0.39rem;
    left: 3.28rem;
    width: 3.12rem;
    height: 2.08rem;
    background-image: url(../images/tip3.png);
}
.cell4 .share{
    opacity: 0;
    position: absolute;
    top: 5.1%;
    right: 5.1%;
    width: 2.03rem;
    height: 1.32rem;
    background: url(../images/font-share.png) no-repeat;
    background-size: 100% 100%;
}
.cell4 .back2{
    opacity: 0;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    margin-left: -1.08rem;
    width: 2.16rem;
    height: 1.53rem;
    background: url(../images/back2.png) no-repeat;
    background-size: 100% 100%;
}

.cell4 .item.active .tip2-1,.cell4 .item.active .tip2-2{
    -webkit-animation: bodyr 1s 1.5s linear infinite;
            animation: bodyr 1s 1.5s linear infinite;
}
.cell4 .item.active .tip2-3-1{
    -webkit-animation: tiplr 2s 1.5s linear infinite;
            animation: tiplr 2s 1.5s linear infinite;
}
.cell4 .item.active .tip2-3-2{
    -webkit-animation: tiprl 2s 1.5s linear infinite;
            animation: tiprl 2s 1.5s linear infinite;
}

.cell4 .item.active .tip3{
    -webkit-animation: bodyr 1.5s 2.8s linear infinite;
            animation: bodyr 1.5s 2.8s linear infinite;
}
.cell4 .item.active .share{
    -webkit-animation:fadeInUp 1s 3s ease both;
            animation:fadeInUp 1s 3s ease both;
}
.cell4 .item.active .back2{
    -webkit-animation:fadeInDown 1s 0.3s ease both;
            animation:fadeInDown 1s 0.3s ease both;
}


/*第四页 end*/

