@mixin bg ($name,$x:100%,$y:100%) {
	background-image: url('../images/'+$name);
	background-repeat: no-repeat;
	background-size: $x $y;
}
html,body{
	height: 100%;
}
.page_index{
	> header{
		position: absolute;
		top: 14.5%;
		width: 100%;

		h2{
			opacity: 0;
			text-indent: -99999px;
			overflow: hidden;
			@include bg('p_t.png');
			width: 6.21rem;
			height: 1.78rem;
			margin: 0 auto;
		}
		p{
			opacity: 0;
			text-indent: -99999px;
			overflow: hidden;
			@include bg('p_p1.png');
			width: 2.05rem;
			height: 0.31rem;
			margin: 0.3rem auto 0;
		}
	}

	.foot{
		opacity: 0;
		z-index: 10;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		height: 2.12rem;
		text-indent: -99999px;
		overflow: hidden;
		@include bg('p_p2.png',4.78rem,1.1rem);
		background-position: top center;
	}
}

.page_box{
	opacity: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-left: -3.05rem;
	margin-top: -1.44rem;
	width: 6.1rem;
	height: 2.87rem;
	@include bg('xin.jpg');
	

	> .after{
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		position: relative;
		height: 2.16rem;
		@include bg('xin-t.jpg');
		box-shadow: 1px 1px 2px #000;
		
		&.active{
			-webkit-animation:rotate180 1s 0s ease both;
			animation:rotate180 1s 0s ease both;
		}

		> i{
			position: absolute;
			top: 0.24rem;
			left: 50%;
			margin-left: -0.66rem;
			width: 1.31rem;
			height: 1.41rem;
			@include bg('xinfeng.png');
		}
	}
	.x_white{
		position: absolute;
		top: 1.85rem;
		left: 50%;
		margin-left: -0.44rem;
		width: 0.88rem;
		height: 0.3rem;
		background-color: #fff;
		@include bg('x_white.png',0.72rem,0.15rem);
		background-position: center 0.14rem;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		.x_white_b{
			z-index: 10;
			position: absolute;
			left: 0;
			top: 0.3rem;
			border-top: 1px solid rgba(0,0,0,0.5);
			height: 0.16rem;
			width: 100%;
			background-color: #fff;
			box-shadow: 1px 1px 1px #000;
		}
	}
}


@-webkit-keyframes shake{
0%,100%{-webkit-transform:translateX(0);}
10%,30%,50%,70%, 90%{-webkit-transform:translateX(-10px);}
20%,40%,60%,80%{-webkit-transform:translateX(10px);}
}

@-webkit-keyframes bounceIn{
0%{opacity:0;
-webkit-transform:scale(.3)}
50%{opacity:1;
-webkit-transform:scale(1.03)}
70%{-webkit-transform:scale(.95)}
100%{opacity:1;-webkit-transform:scale(1)}
}
@keyframes bounceIn{
0%{opacity:0;
transform:scale(.3)}
50%{opacity:1;
transform:scale(1.03)}
70%{transform:scale(.95)}
100%{opacity:1;transform:scale(1)}
}

@-webkit-keyframes rotate180{
	0%{
		-webkit-transform-origin: 50% 0;
		-webkit-transform: rotateX(0deg);
	}
	100%{
		-webkit-transform-origin: 50% 0;
		-webkit-transform: rotateX(180deg);
	}
}
@keyframes rotate180{
	0%{
		transform-origin: 50% 0;
		transform: rotateX(0deg);
	}
	100%{
		transform-origin: 50% 0;
		transform: rotateX(180deg);
	}
}

.hide{
	display: none;
}


.page_swiper{
	position: absolute;
	height: 100%;
	width: 100%;
	.swiper-slide{
		background-color: #fcecd5;
		position: relative;
		height: 100%;
		.box{
			padding-top: 3.03rem;
			h2{
				opacity: 0;
				margin-bottom: 0.27rem;
				height: 0.46rem;
				background-position: center center;
			}
			p{
				opacity: 0;
				height: 0.59rem;
				background-position: center bottom;
			}
		}
		.box_end{
			opacity: 0;
			position: absolute;
			bottom: 1rem;
			left: 0;
			width: 100%;
			height: 2.5rem;
			@include bg('p_end.png',4.78rem,2.05rem);
			background-position: center top;
		}
		.end{
			opacity: 0;
			text-indent: -99999px;
			overflow: hidden;
			height: 2.5rem;
			@include bg('p_end.png',4.78rem,2.05rem);
			background-position: top center;
			&.active{
				-webkit-animation:fadeInUp 1s 0s ease both;
				animation:fadeInUp 1s 0s ease both;
			}
		}
	}
	$w: 2.87rem 3.99rem 2.95rem 5.94rem 3.27rem 3.68rem 4.74rem 4.79rem;
	$tw: 2.87rem 2.34rem 3.52rem 2.34rem 3.39rem 2.42rem 2.34rem 4.58rem;
	@for $i from 1 through 8{
		.swiper-slide:nth-child(#{$i+1}) .box{
			&:before{
				content: "";
				position: absolute;
				top: 2.05rem;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.3;
				@include bg('just_#{$i}.png',nth($w,$i),auto);
				background-position: top center;	
			}
			h2{
				@include bg('p2_#{$i}.png',nth($tw,$i));
			}
			@for $j from 1 through 2{
				p:nth-of-type(#{$j}){
					@include bg('p2_#{$i}_#{$j}.png',5.02rem,auto);
				}
			}
			@if $i>1{
				@if $i<7{
					p:nth-of-type(3){
						@include bg('p2_#{$i}_3.png',5.02rem,auto);
					}
				}
				@if $i==8{
					p:nth-of-type(3){
						@include bg('p2_#{$i}_3.png',5.02rem,auto);
					}
				}
			}
			
		}
		.swiper-slide.active:nth-child(#{$i+1}){
			$t: 1.5;
			.box{
				h2{
					-webkit-animation:fadeInUp #{$t}s 0s ease both;
					animation:fadeInUp #{$t}s 0s ease both;
				}
				@for $j from 1 through 3{
					p:nth-of-type(#{$j}){
						-webkit-animation:fadeInUp #{$t}s #{$j*$t}s ease both;
						animation:fadeInUp #{$t}s #{$j*$t}s ease both;
					}
				}
			}
			.box_end{
				-webkit-animation:fadeInUp #{$t}s #{$t*4}s ease both;
				animation:fadeInUp #{$t}s #{$t*4}s ease both;
			}
			@if $i==1{
				.box_end{
					-webkit-animation:fadeInUp #{$t}s #{$t*3}s ease both;
					animation:fadeInUp #{$t}s #{$t*3}s ease both;
				}
			}
			@if $i==7{
				.box_end{
					-webkit-animation:fadeInUp #{$t}s #{$t*3}s ease both;
					animation:fadeInUp #{$t}s #{$t*3}s ease both;
				}
			}
		}
		
	}
	
}
.page_swiper .swiper-slide:nth-child(10){
	background-color: #ed1c24;
	.page-last{
		padding-top: 0.8rem;
		p{
			opacity: 0;
			height: 0.52rem;
			margin-bottom: 0.36rem;
			background-position: center bottom;
			&:nth-of-type(5){
				margin-bottom: 1.24rem;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		$w: 2.3rem 5.61rem 3.25rem 5.14rem 3.74rem 3.71rem 3.73rem 1.38rem;
		@for $i from 1 through 8{
			p:nth-of-type(#{$i}){
				@include bg('p3_#{$i}.png',nth($w,$i),0.43rem);
			}
		}
	}
	.page-last-end{
		opacity: 0;
		position: absolute;
		bottom: 0.8rem;
		left: 0;
		width: 100%;
		height: 2.51rem;
		@include bg('l_end.png',1.7rem);
		background-position: center top;
	}

	&.active{
		$t: 2;
		@for $i from 1 through 8{
			@if $i<6{
				.page-last p:nth-of-type(#{$i}){
					-webkit-animation:fadeInUp #{$t}s #{($i/1-1)*$t}s ease both;
					animation:fadeInUp #{$t}s #{($i/1-1)*$t}s ease both;
				}
			}
			@if $i==6{
				.page-last p:nth-of-type(#{$i}){
					-webkit-animation:fadeInUp #{$t}s #{($i/1-1)*$t+$t}s ease both;
					animation:fadeInUp #{$t}s #{($i/1-1)*$t+$t}s ease both;
				}
			}
			@if $i==7{
				.page-last p:nth-of-type(#{$i}){
					-webkit-animation:fadeInUp #{$t}s #{($i/1-1)*$t+$t}s ease both;
					animation:fadeInUp #{$t}s #{($i/1-1)*$t+$t}s ease both;
				}
			}
			@if $i==8{
				.page-last p:nth-of-type(#{$i}){
					-webkit-animation:fadeInUp #{$t}s #{($i/1-1)*$t+$t*2}s ease both;
					animation:fadeInUp #{$t}s #{($i/1-1)*$t+$t*2}s ease both;
				}
			}
		}
		.page-last-end{
			-webkit-animation:fadeInUp #{$t}s #{10*$t}s ease both;
			animation:fadeInUp #{$t}s #{10*$t}s ease both;
		}
	}
}


.page_swiper .swiper-slide:nth-child(1),
.page_swiper .swiper-slide:nth-child(11){
	@include bg('bg1.jpg');
}
.page_swiper .swiper-slide.active:nth-child(1),
.page_swiper .swiper-slide.active:nth-child(11){
	h2{
		-webkit-animation:fadeInUp 0.7s 0s ease both;
		animation:fadeInUp 0.7s 0s ease both;
	}
	p{
		-webkit-animation:fadeInUp 0.7s 0.7s ease both;
		animation:fadeInUp 0.7s 0.7s ease both;
	}
	.page_box{
		-webkit-animation:bounceIn 1.4s 1.4s ease both;
 		animation:bounceIn 1.4s 1.4s ease both;

 		.x_white_b{
 			-webkit-transform-origin: center top;
 			transform-origin: center top;
 			-webkit-animation:xrotate 3s 2.8s ease both infinite;
 			animation:xrotate 3s 2.8s ease both infinite;
 		}
 		.x_white.x_white_end{
 			-webkit-animation:fadeOutRight 1s 0s ease both;
			animation:fadeOutRight 1s 0s ease both;
			.x_white_b{
				-webkit-animation:none;
 				animation:none;
			}
 		}
	}
	.foot{
		-webkit-animation:fadeInUp 0.7s 2.8s ease both;
		animation:fadeInUp 0.7s 2.8s ease both;
	}
}


@-webkit-keyframes fadeOutRight{
	0%{opacity:1;
	-webkit-transform:translateX(0)}
	100%{opacity:0;
	-webkit-transform:translateX(20px)}
}
@keyframes fadeOutRight{
	0%{opacity:1;
	transform:translateX(0)}
	100%{opacity:0;
	transform:translateX(20px)}
}

@-webkit-keyframes xrotate{
	0%{
		-webkit-transform: rotateX(0deg);
	}
	50%{
		-webkit-transform: rotateX(120deg) rotateY(5deg);
	}
	100%{
		-webkit-transform: rotateX(0deg);
	}
}
@keyframes xrotate{
	0%{
		transform: rotateX(0deg);
	}
	50%{
		transform: rotateX(120deg) rotateY(5deg);
	}
	100%{
		transform: rotateX(0deg);
	}
}

@-webkit-keyframes fadeInUp{
0%{opacity:0;
-webkit-transform:translateY(15px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@keyframes fadeInUp{
0%{opacity:0;
transform:translateY(15px)}
100%{opacity:1;
transform:translateY(0)}
}





.loading{
	z-index: 990;
	position: fixed;
	top: 0;
	left: 50%;
	width: 7.5rem;
	height: 100%;
	margin-left: -3.75rem;
	background-color: #fcecd5;
}
.loading > div{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
	width: 100%;
}

.loading  > div > p{
	font-size: 0.4rem;
	line-height: 0.8rem;
	text-align: center;
	color: #fff;
}
.load-img{
	position: relative;
	width: 1.7rem;
	height: 2.51rem;
	margin: 0 auto;
	background: url(../images/l_end.png) no-repeat;
	background-size: 100% 100%;
	
}
.load-img > div{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fcecd5;
}

@-webkit-keyframes loadimg{
	0%{height: 100%;}
	100%{height: 0;}
}



.music{
    z-index: 990;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    background: url(../images/music.png) no-repeat;
    background-size: 60px;
    -webkit-animation: r3 2s linear infinite;
    -webkit-transform: scaleX(0.4) scaleY(0.4);
            transform: scaleX(0.4) scaleY(0.4);
}
.music.close{
    background-position: 0 -83px;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes r3{
  0%{ -webkit-transform:rotate(0deg) scaleX(0.4) scaleY(0.4);}
  100%{ -webkit-transform:rotate(360deg) scaleX(0.4) scaleY(0.4);}
}



/*arrow*/
.page_swiper .swiper-slide.active .arrow.active{
	-webkit-animation: toUp 1.5s linear infinite;
	animation: toUp 1.5s linear infinite;
}
.arrow{
	opacity: 0;
	z-index: 100;
	position: absolute;
	overflow: hidden;
	bottom: 0.1rem;
	left: 50%;
	margin-left: -0.5rem;
	height: 1rem;
	width: 1rem;
	
}
.arrow em{
	display: block;
	width: 0.33rem;
	height: 0.33rem;
	border: solid #fff;
	border-width: 0.07rem 0.07rem 0 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: 0.33rem 0 0 0.27rem;
}

@-webkit-keyframes "toUp" {
  0% {
  	opacity: 0;
  	-webkit-transform: translate(0, 0);
  }
  0% {
  	opacity: 1;
  	-webkit-transform: translate(0, 0);
  }
  50% {
  	opacity: 0;
  	-webkit-transform: translate(0, -1rem);
  }
  100% {
  	opacity: 0;
  	-webkit-transform: translate(0, -1rem);
  }
}
@keyframes "toUp" {
  0% {
  	opacity: 0;
    transform: translate(0, 0);
  }
  0% {
  	opacity: 1;
    transform: translate(0, 0);
  }
  50% {
  	opacity: 0;
    transform: translate(0, -1rem);
  }
  100% {
  	opacity: 0;
    transform: translate(0, -1rem);
  }
}