@charset "UTF-8";
/* CSS Document */
html {
  -webkit-text-size-adjust: 100%;
  font-size: 20px; }
*{margin: 0; padding: 0;-webkit-tap-highlight-color: transparent;
  
}
a { text-decoration: none; }
  
a[href^="javascript"]{-webkit-touch-callout: none;}
i,em,b,strong{
  font-style: normal;
  font-weight: normal;
}
input, textarea, select {
   }

input, button, select, textarea {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0px; }


body {
  font-family: Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti; }

li {
  list-style: none; }

img { border: none; }



body {
  padding: 0px;
  margin: 0 auto;
  max-width: 750px;
  font-size: 0.4rem;}

/*清除浮动*/
.clearfix:after {
  content: "";
  display: block; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

a.a_c{
  transform: scale(1);
}
a.a_c:active{
  transform: scale(0.95);
}