<div class="rnav">
    <li class="rnav1"><a href="newlist">日记</a></li>
    <li class="rnav2"><a href="messBoard">欣赏</a></li>
    <li class="rnav3"><a href="share">程序人生</a></li>
    <li class="rnav4"><a href="timeAxis">闲言碎语</a></li>
</div>
<div class="ph_news">
    <h2>
        <p>点击排行</p>
    </h2>
    <ul class="ph_n">
        <li><span class="num1">1</span><a title="有一种思念，是淡淡的幸福,一个心情一行文字" href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
        <li><span class="num2">2</span><a title="励志人生-要做一个潇洒的女人" href="/">励志人生-要做一个潇洒的女人</a></li>
        <li><span class="num3">3</span><a title="女孩都有浪漫的小情怀――浪漫的求婚词" href="/">女孩都有浪漫的小情怀――浪漫的求婚词</a></li>
        <li><span>4</span><a title="Green绿色小清新的夏天" href="/">Green绿色小清新的夏天</a></li>
    </ul>
    <h2>
        <p>栏目推荐</p>
    </h2>
    <ul>
        <!--s-->
        <li><a title="花气袭人是酒香" href="/">花气袭人是酒香</a></li>
        <!--e-->
    </ul>
    <h2>
        <p>最新评论</p>
    </h2>
    <ul class="pl_n">
        <!--s-->
        <dl>
            <dt><img src="/images/s8.jpg"> </dt>
            <dt> </dt>
            <dd>DanceSmile
                <time>49分钟前</time>
            </dd>
            <dd><a title="文章非常详细，我很喜欢." href="/">文章非常详细，我很喜欢.</a></dd>
        </dl>
        <!--e-->
    </ul>
    <h2>
        <p>最近访客</p>
        <ul>
            <img src="/images/vis.jpg"><!-- 直接使用“多说”插件的调用代码 -->
        </ul>
    </h2>
</div>