@import "./base";
.rnav { 
    width: 120px;
    margin: 20px auto; 
    overflow: hidden;
    li { 
        width: 100%; 
        text-align: center; 
        display: inline-block; 
        margin-bottom: 2px; 
        height: 40px; 
        line-height: 40px;
        a { 
            color: #FFF; 
            display: block; 
            transition: all 1s; 
            &:hover{
                background: rgba(255,255,255,0.2); 
                transform: rotate(360deg); 
            }
        }
    }
}
.rnav1 { background-color: nth($color_arr,1); }
.rnav2 { background-color: nth($color_arr,2); }
.rnav3 { background-color: nth($color_arr,3); }
.rnav4 { background-color: nth($color_arr,4); }

.ph_news {
    h2 { 
        font-size: 16px;
        color: #FFF; 
        p { 
            height: 40px; 
            line-height: 40px; 
            width: 100px; 
            padding: 0 0 0 30px; 
            border-radius: 0 20px 20px 0; 
            text-shadow: rgba(0,0,0,.65) 1px 1px; 
            background-color: nth($color_arr,3);
        }
    }
    ul { 
        margin: 10px; 
        li { 
            white-space: nowrap; 
            text-overflow: ellipsis; 
            overflow: hidden; 
            width: 100%; 
            color: #cdcbcb; 
            line-height: 24px; 
            height: 24px; 
            a { 
                color: #cdcbcb; 
            }
        }
    }
}
.ph_news li a:hover, .pl_n dd a:hover { text-decoration: underline; }
.pl_n dl { 
    display: block; 
    overflow: hidden; 
    margin-bottom: 12px; 
    color: #cdcbcb; 
}
.pl_n dd { 
    line-height: 22px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
    a{ 
        color: #555454;
    }
 }
.pl_n time { 
    color: #066; 
    margin-left: 10px;
}
.pl_n dt { float: left; }
.pl_n dt img { 
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
    border-radius: 50%; 
    transition: all 1s;
    &:hover { 
        transform: rotate(30deg); 
    }
}