<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <script type="text/javascript" src="./assets/js/common.js"></script>

	<title>为Ta设计生日惊喜</title>
</head>
<body>
	<div id="loading" class="loading">
		<div>
			<div class="load-img"><div></div></div>
			<p><span class="load-y">0</span>%</p>
		</div>
	</div>

	<article id="main">
		
		<img :src="'./assets/images/cangpian'+(music/1+1)+'.png'" style="position:absolute;top:0;left:0;width: 300px;z-index:-1;opacity:0" />
		<audio preload loop class="js-music">
			<source src="./music0.mp3" type="audio/mpeg">
		</audio>
		<audio preload loop class="js-music">
			<source src="./music1.mp3" type="audio/mpeg">
		</audio>
		<audio preload loop class="js-music">
			<source src="./music2.mp3" type="audio/mpeg">
		</audio>
		<audio preload loop class="js-music">
			<source src="./music3.mp3" type="audio/mpeg">
		</audio>


		<a href="javascript:;" class="music"></a>
		
		
		<div class="page page1 hide">
			<div class="icon1"></div>
			<div class="icon2"></div>
			<div class="icon3"></div>
			<div class="main1">
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<a class="js-shownext js-shownext1 a_c" href="javascript:;"></a>
				<a class="js-shownext js-shownext2 a_c" href="javascript:;"></a>
			</div>
		</div>
		<div class="page page2 hide">
			<div class="page-o">
				<div class="icon1"></div>
				<div class="icon2"></div>
				<div class="icon4"></div>
				<div class="yinyue-box yinyue-box1"><i></i></div>
				<div class="yinyue-box yinyue-box2"><i></i></div>
			</div>
			
			<div class="main2">
				<article class="pan swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
					</div>
				</article>
				<div class="main-bg"></div>
				<div class="icon js-touch"></div>
				<a class="anniu a_c" href="javascript:;"></a>
			</div>

			<div id="main3" class="main3">
				<input maxlength="6" v-model="your" type="text">
				<input :style="{'font-size':fontsize+'rem'}" maxlength="19" v-model="zhufu" type="text">
				<input maxlength="6" v-model="my" type="text">
				<input maxlength="11" v-model="date" type="text">
				<p></p>
				<p></p>
				<p></p>
				<p></p>
			</div>
			<a class="end a_c" href="javascript:;"></a>
		</div>

		<div class="page page4 hide">
			<div class="icon1"></div>
			<a class="a_c back" href="javascript:;"></a>
			<a class="a_c fenxiang" href="javascript:;"></a>

			<div :class="['main4','cangpian'+(music/1+1)]"></div>
			<div class="main5">
				<p>祝 {{your}}</p>
				<p>{{zhufu1}}<br/>{{zhufu2}}</p>
				<p>{{my}}</p>
				<p>{{date}}</p>
			</div>
		</div>
 
		<div class="page page5 hide">
			<div class="icon1"></div>
			<a class="a_c jingxi" href="javascript:;"></a>

			<div :class="['main4','cangpian'+(music/1+1)]"></div>
			<div class="main5">
				<p>祝 {{your}}</p>
				<p>{{zhufu1}}<br/>{{zhufu2}}</p>
				<p>{{my}}</p>
				<p>{{date}}</p>
			</div>
		</div>
	</article>

	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="./assets/js/index.js"></script>
</body>
</html>