.loading{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(255,255,255,1);
}
.loading > div{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -70px;
	height: 140px;
	width: 100%;
	
	
}
.loading > div > p:nth-of-type(1){
	position: relative;
	width: 80%;
	height: 80px;
	margin: 0 auto;
	border: 2px solid #cc0033;
	border-radius: 40px;
}
.loading > div > p:nth-of-type(1) span{
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 0%;
	min-width: 80px !important;
	background-color: #cc0033;
	border-radius: 40px;
}
.loading > div > p:nth-of-type(2){
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	color: #000;
}
.music{
	z-index: 1000;
	position: absolute;
	top: 46px;
	right: 43px;
	width: 60px;
	height: 60px;
	background: url(../images/music.png) no-repeat;
	background-size: 60px;
	-webkit-animation: rotate1 2s linear infinite;
	-moz-animation: rotate1 2s linear infinite;
}
.music.close{
	background-position: 0 -83px;
	-webkit-animation: none;
	-moz-animation: none;
}
.logo{
	z-index: 90;
	text-indent: -99999px;
	overflow: hidden;
	position: absolute;
	top: 46px;
	left: 43px;
	width: 327px;
	height: 123px;
	background: url(../images/logo.png) no-repeat;
}
html,body,.main,.cell{
	width: 100%;
	height: 100%;
	/*min-height: 1636px;*/
}

.hide{
	display: none;
}

.main,.cell{
	position: absolute;
	top: 0;
	left: 0;
}
.main .cell{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center; 
}

.main{
	overflow: hidden;
}
.cell.transition {
    -webkit-transition-duration: .6s;
    -moz-transition-duration: .6s;
    transition-duration: .6s;
}
.cell.right100{
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.cell.left100{
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.cell.center{
	z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cell1{
	background-image: url(../images/bg1.jpg);
}
.cell1:after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);

}
.cell1 .map > img:nth-of-type(1){
	position: relative;
	padding-top: 219px;
	z-index: 10;
	display: block;
	margin: 0 auto;
}
.cell1 .map > img:nth-of-type(2){
	opacity: 1;
	z-index: 20;
	position: absolute;
	top: 70px;
	right: 187px;
	width: 113px;
	height: 191px;
	-webkit-animation:opacity1 0.7s ease .2s infinite alternate;
	-moz-animation:opacity1 0.7s ease .2s infinite alternate;
}
.cell1 .map > .city{
	z-index: 5;
	position: absolute;
	top: 89px;
	left: 320px;
	width: 458px;
	height: 112px;
	background-color: #fff;
	box-shadow: 2px 1px 3px #aaa;
}
.cell1 .map > .city > span{
	float: left;
	width: 144px;
	line-height: 112px;
	font-weight: bolder;
	text-indent: 30px;
	font-size: 50px;
}
.cell1 .map > .city > p{
	float: right;
	width: 313px;
	font-size: 19px;
	line-height: 30px;
	padding: 10px 0;
}
.cell1 .con{
	z-index: 5;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 627px;
	text-align: center;
}
.cell1 .con > .logo-img{
	display: block;
	margin: 0 auto 40px;
}
.cell1 .con > p{
	text-align: center;
	color: #e50027;
}
.cell1 .con > p:nth-of-type(1){
	font-size: 117px;
	line-height: 130px;	
}
.cell1 .con > p:nth-of-type(2){
	font-size: 188px;
	line-height: 206px;
}
.cell1 .con > p:nth-of-type(3){
	display: inline-block;
	vertical-align: top;
	margin-top: 19px;
	border: 1px solid #e50027;
	font-size: 42px;
	line-height: 69px;
	border-left: none;
	border-right: none;
}
.cell1 .con > p:last-child span{
	font-size: 47px;
}

.cell2{
	background-image: url(../images/bg1.jpg);
}
.cell2 > .con{
	position: absolute;
	left: 108px;
	bottom: 332px;
	width: 820px;
	height: 764px;
	box-shadow: 0 2px 0 #ccc;
	background-color: rgba(255,255,255,0.8);
	text-align: center;
}
.cell2 > .con > h2{
	padding-top: 28px;
	text-align: center;
	font-size: 143px;
	line-height: 190px;
	color: #ea1e01;
}
.cell2 > .con > p:nth-of-type(1){
	display: inline-block;
	vertical-align: top;
	line-height: 91px;
	border: 2px solid #ea1e01;
	border-left: none;
	border-right: none;
	font-size: 64px;
	color: #ea1e01;
	font-weight: normal;
}
.cell2 > .con > p:nth-of-type(2){
	font-size: 30px;
	line-height: 45px;
	padding: 26px 0 42px;
}

.cell2 > .con > p a{
	text-decoration: underline;
}
.cell2 > .con .start{
	position: relative;
	display: block;
	width: 184px;
	height: 184px;
	margin: 0 auto;
	text-align: center;
	line-height: 184px;
	background-color: #830d08;
	color: #fff;
	font-weight: bolder;
	border-radius: 50%;
	font-size: 47px;

	-webkit-animation:flash 3s ease-in-out .2s infinite alternate;
	-moz-animation:flash 3s ease-in-out .2s infinite alternate;
}
.cell2 > .con .start:before{
	content: "开始";
	position: absolute;
	left: 0;
	top: -22px;
	width: 100%;
	height: 100%;
	background-color: #ea1e01;
	border-radius: 50%;
}
.cell2 > .con > .bg1{
	position: absolute;
	top: -55px;
	left: 50%;
	margin-left: -184px;
	width: 368px;
	height: 84px;
	background: url(../images/mohe.png) no-repeat;
}
.cell2 > .con > .bg2{
	position: absolute;
	top: -350px;
	right: -108px;
	width: 380px;
	height: 375px;
	background: url(../images/sheep.png) no-repeat;

	-webkit-animation:swing 2s linear .2s infinite;
	-moz-animation:swing 2s linear .2s infinite;
}


.cell2 > .con > .bg3{
	position: absolute;
	right: -67px;
	bottom: -86px;
	width: 244px;
	height: 179px;
	background: url(../images/flower.png) no-repeat;
}

.cell4{
	background-image: url(../images/bg1.jpg);
}
.cell4:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}
.cell4 > .con{
	z-index: 5;
	position: relative;
	padding-top: 186px;
	text-align: center;
}
.cell4 > .con > h2{
	text-align: center;
	color: #ea1e01;
	height: 172px;
	line-height: 172px;
	font-size: 130px;
}
.cell4 > .con > p:nth-of-type(1){
	display: inline-block;
	vertical-align: top;
	border: 2px solid #e50027;
	border-left: none;
	border-right: none;
	height: 91px;
	line-height: 91px;
	padding: 0 30px;
	color: #ea1e01;
	font-size: 64px;
	font-weight: bolder;
}
.cell4 > .con > p:nth-of-type(2){
	font-size: 34px;
	line-height: 48px;
	padding-top: 10px;
	color: #000;
}
.cell4 .man{
	position: relative;
	margin-top: 7px;
}
.cell4 .man:after{
	content: "";
	position: absolute;
	top: 63px;
	right: 164px;
	width: 368px;
	height: 84px;
	background: url(../images/xmc.png) no-repeat;
}
.cell4 .man > img{
	z-index: 10;
	position: absolute;
	left: 50px;
	top: 0;
}
.cell4 .man > div{
	position: absolute;
	right: 78px;
	top: 119px;
	width: 687px;
	height: 845px;
	padding-top: 73px;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 2px 2px 2px #ddd;
}
.cell4 .man > div > h3{
	position: relative;
	z-index: 20;
	width: 451px;
	height: 42px;
	line-height: 42px;
	background-color: #e6002d;
	color: #fff;
	font-size: 34px;
	text-align: center;
	border-radius: 21px;
	font-weight: normal;
	margin: 22px 0 22px 188px;
}
.cell4 .man > div > h3:nth-of-type(1){
	margin-top: 0px;
}
.cell4 .man > div > p{
	text-align: left;
	text-indent: 230px;
	color: #000;
	font-size: 34px;
	line-height: 77px;
}
.cell4 .man .juan{
	position: relative;
	display: block;
	width: 306px;
	height: 80px;
	line-height: 80px;
	margin-top: 43px;
	margin-left: 233px;
	border-radius: 5px;
	text-align: center;
	font-size: 34px;
	color: #fff;
	background-color: #cc0033;
}
.cell4 .man .juan i{
	position: absolute;
	top: 34px;
	left: 258px;
	width: 117px;
	height: 130px;
	background: url(../images/hand-m.png) no-repeat;
	background-size: 100% 100%;
	-webkit-animation:flash2 2.5s ease .2s infinite alternate;
	-moz-animation:flash2 2.5s ease .2s infinite alternate;

}

.cell5{
	background-image: url(../images/bg3.jpg);
}
.cell5 .con{
	position: absolute;
	bottom: 75px;
	left: 0;
	width: 100%;
}
.cell5 .con > p{
	font-size: 34px;
	color: #000;
	text-align: center;
	line-height: 56px;
	margin-bottom: 39px;
}
.cell5 .con > p span{
	color: #e50027;
}
.cell5 .con > p strong{
	color: #e50027;
	font-size: 90px;
	line-height: 103px;
}

.cell5 .thank{
	display: block;
	margin: 0 auto;
	width: 473px;
	height: 122px;
	line-height: 122px;
	color: #fff;
	text-align: center;
	font-size: 57px;
	border-radius: 5px;
	background-color: #e50027;
}

.cell6{
	visibility: hidden;
	opacity: 0.1;
	transition: opacity 1s ease;
}
.cell6.active{
	visibility: visible;
	opacity: 1;
}

.cell6 .gift{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.cell6 .gift1{
	background-image: url(../images/bg4.jpg);
}
.cell6 .gift1 .point{
	position: absolute;
	top: 1272px;
	left: 589px;
	width: 249px;
	height: 276px;
	background: url(../images/hand-m.png) no-repeat;

	-webkit-animation:flash2 2.5s ease .2s infinite alternate;
	-moz-animation:flash2 2.5s ease .2s infinite alternate;
}
.cell6 .gift1 .gift-box{
	position: absolute;
	top: 690px;
	left: 111px;
	width: 735px;
	height: 700px;
}
.cell6 .gift2{
	visibility: hidden;
	background-image: url(../images/bg5.jpg);
}
.cell6 .gift3{
	visibility: hidden;
	background-image: url(../images/bg6.jpg);
}
.cell6 .gift.active{
	visibility: visible;
}
.cell6 .gift2 .con{
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
	height: 264px;
	text-indent: -999999px;
	background:url(../images/dr.png) no-repeat top center;
}

.cell6 .g-share{
	z-index: 5;
	position: absolute;
	top: 53px;
	right: 37px;
	width: 230px;
	height: 222px;
	background: url(../images/share-t.png) no-repeat center center;

	-webkit-animation:swing2 1s ease .2s infinite;
	-moz-animation:swing2 1s ease .2s infinite;
}
.cell6 .g-share.open{
	width: 232px;
	height: 378px;
	background-image: url(../images/share.png);
	-webkit-animation : none;
	-moz-animation : none;
}

.cell6 .gift3 .con{
	position: absolute;
	bottom: 68px;
	left: 0;
	width: 100%;
	height: 157px;
}
.cell6 .gift3 .con p{
	font-size: 24px;
	line-height: 36px;
	color: #e6002d;
	text-indent: 71px;
	font-weight: bolder;
}

.gift-form{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	margin-top: -539px;
	width: 710px;
	height: 1078px;
	background-color: rgba(255,255,255,0.8);
}

.gift-form:after{
	content: "";
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -184px;
	width: 368px;
	height: 84px;
	background: url(../images/xmc.png) no-repeat;
}

.gift-form h3{
	padding: 95px 0 18px;
	font-size: 120px;
	line-height: 126px;
	color: #e50027;
	text-align: center;
}

.gift-form > p{
	width: 514px;
	height: 93px;
	line-height: 93px;
	margin: 0 auto 50px;
	border: 2px solid #ea1e01;
	border-left: none;
	border-right: none;
	font-size: 50px;
	color: #ea1e01;
	font-weight: bolder;
}

.input-cell{
	overflow: hidden;
	width: 510px;
	margin: 0 auto 32px;
	border: 2px solid #fff;
	box-shadow: inset 0 0 15px #ddd;
	height: 87px;
	line-height: 87px;
	background-color: rgba(255,255,255,0.7);
}
.input-cell > span{
	float: left;
	width: 130px;
	height: 87px;
	line-height: 87px;
	text-align: center;
	font-size: 42px;
	color: #ea1e01;
}
.input-cell > input{
	float: right;
	width: 379px;
	height: 87px;
	line-height: 87px;
	padding: 0;
	border: none;
	font-size: 42px;
	color: #000;
	text-align: left;
	text-indent: 10px;
	background-color: transparent;
}
.input-cell:last-of-type{
	margin-bottom: 0;
}
.input-btn{
	display: block;
	margin: 46px auto 0;
	text-align: center;
	width: 394px;
	height: 100px;
	line-height: 100px;
	font-size: 47px;
	color: #fff;
	background-color: #e50027;
	border-radius: 5px;
}
.cell-gift{
	background-image: url(../images/bg7.jpg);
}




/*动画s*/
@-webkit-keyframes swing{
0%,25%,50%,75%,100%{-webkit-transform-origin:154px 352px}
0%,100%{-webkit-transform:rotate(0deg)}
25%{-webkit-transform:rotate(-7deg)}
50%{-webkit-transform:rotate(0deg)}
75%{-webkit-transform:rotate(7deg)}
}
@-moz-keyframes swing{
0%,25%,50%,75%,100%{-moz-transform-origin:154px 352px}
0%,100%{-moz-transform:rotate(0deg)}
25%{-moz-transform:rotate(-7deg)}
50%{-moz-transform:rotate(0deg)}
75%{-moz-transform:rotate(7deg)}
}

@-webkit-keyframes flash{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0.4;}
}
@-moz-keyframes flash{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0.4;}
}

@-webkit-keyframes opacity1{
0%{opacity: 1;}
100%{opacity: 0;}
}
@-moz-keyframes opacity1{
0%{opacity: 1;}
100%{opacity: 0;}
}


@-webkit-keyframes swing2{
20%,40%,60%,80%,100%{-webkit-transform-origin:93px 274px}
20%{-webkit-transform:rotate(15deg)}
40%{-webkit-transform:rotate(-10deg)}
60%{-webkit-transform:rotate(5deg)}
80%{-webkit-transform:rotate(-5deg)}
100%{-webkit-transform:rotate(0deg)}
}
@-moz-keyframes swing2{
20%,40%,60%,80%,100%{-moz-transform-origin:93px 274px}
20%{-moz-transform:rotate(15deg)}
40%{-moz-transform:rotate(-10deg)}
60%{-moz-transform:rotate(5deg)}
80%{-moz-transform:rotate(-5deg)}
100%{-moz-transform:rotate(0deg)}
}

@-webkit-keyframes flash2{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0.1;}
}
@-moz-keyframes flash2{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0.1;}
}

@-webkit-keyframes flipInY{
0%{-webkit-transform:perspective(400px) rotateY(90deg);
opacity:0}
40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
70%{-webkit-transform:perspective(400px) rotateY(10deg)}
100%{-webkit-transform:perspective(400px) rotateY(0deg);
opacity:1}
}
@-moz-keyframes flipInY{
0%{-moz-transform:perspective(400px) rotateY(90deg);
opacity:0}
40%{-moz-transform:perspective(400px) rotateY(-10deg)}
70%{-moz-transform:perspective(400px) rotateY(10deg)}
100%{-moz-transform:perspective(400px) rotateY(0deg);
opacity:1}
}

@-webkit-keyframes rotate1{
0%{-webkit-transform: rotate(0deg);}
100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate1{
0%%{opacity: 1;}
100%{opacity: 0.1;}
}
/*动画e*/

