<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="keywords" content="个人博客,何哲个人博客,何哲,zhe-he" />
    <meta name="description" content="何哲的个人博客" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0;url=./www" >
    <title>何哲个人博客 - 踩在🐢上的🐰</title>
    <link href="images/tmp/apple-touch-icon-precomposed.jpg" rel="apple-touch-icon-precomposed">
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vuex/dist/vuex.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
</head>
<body>
    <div id="app"></div>
</body>
</html>