html body {
  background-color: #fff;
  overflow-x: hidden;
  word-break: break-all;
}
.bgs {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.h2t {
  display: inline-block;
  vertical-align: top;
  min-width: 3.2rem;
  height: 0.74rem;
  line-height: 0.74rem;
  font-size: 0.28rem;
  text-align: center;
  color: #888888;
  background-image: url(../images/zt-1/evaluate0.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-top {
  text-align: center;
}
.zt1-top .zt1-top-con:after,
.zt1-top .zt1-top-con:before,
.zt1-top aside,
.zt1-top i {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-top .zt1-top-con {
  position: relative;
  display: inline-block;
  line-height: 100%;
  vertical-align: top;
  padding: 0.7rem 0.85rem 0.55rem;
  height: 1.65rem;
}
.zt1-top .zt1-top-con:before,
.zt1-top .zt1-top-con:after {
  content: "";
  position: absolute;
  top: 0.7rem;
  width: 0.83rem;
  height: 1.65rem;
}
.zt1-top .zt1-top-con:before {
  left: 0;
  background-image: url(../images/zt-1/top-l@3x.png);
}
.zt1-top .zt1-top-con:after {
  right: 0;
  background-image: url(../images/zt-1/top-r@3x.png);
}
.zt1-top h1 {
  padding-top: 0.24rem;
  padding-bottom: 0.1rem;
  font-size: 0.32rem;
  line-height: 0.45rem;
  color: #000;
}
.zt1-top p {
  font-size: 0.26rem;
  line-height: 0.36rem;
  color: #000;
}
.zt1-top aside {
  position: absolute;
  bottom: 0.4rem;
  left: 50%;
  margin-left: -0.95rem;
  width: 1.90rem;
  height: 0.42rem;
}
.zt1-top i {
  position: absolute;
  top: 0.36rem;
  left: 50%;
  margin-left: -0.38rem;
  width: 0.76rem;
  height: 0.44rem;
  background-image: url(../images/zt-1/top-t@3x.png);
}
.zt1-hot {
  height: 7.81rem;
  padding-bottom: 0.37rem;
  position: relative;
  background-image: url(../images/zt-1/hot-l@3x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.zt1-hot .zt1-hot-l {
  position: absolute;
  top: 1.49rem;
  left: 1.28rem;
  width: 2.5rem;
}
.zt1-hot .zt1-hot-l h2 {
  font-size: 0.38rem;
  line-height: 0.53rem;
  color: #c39540;
}
.zt1-hot .zt1-hot-l div {
  font-size: 0.34rem;
  line-height: 0.53rem;
  padding-bottom: 0.1rem;
  color: #c39540;
}
.zt1-hot .zt1-hot-l p {
  color: #c39540;
}
.zt1-hot .zt1-hot-l p:nth-of-type(1) {
  overflow: hidden;
  height: 0.7rem;
  font-size: 0.3rem;
  line-height: 0.35rem;
  margin-bottom: 0.02rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}
.zt1-hot .zt1-hot-l p:nth-of-type(2) {
  font-size: 0.22rem;
  line-height: 0.26rem;
  padding-bottom: 0.07rem;
  color: #c7c7c7;
  text-decoration: line-through;
}
.zt1-hot .zt1-hot-l p:nth-of-type(3) {
  font-size: 0.22rem;
  line-height: 0.26rem;
  padding-bottom: 0.18rem;
}
.zt1-hot .zt1-hot-l p:nth-of-type(3) span:nth-child(2) {
  font-size: 0.18rem;
  color: #c7c7c7;
}
.zt1-hot .zt1-hot-l p:nth-of-type(4) {
  width: 1.13rem;
  height: 0.33rem;
  line-height: 0.33rem;
  border: 1px solid #00b19f;
  text-align: center;
  color: #00b19f;
  font-size: 0.22rem;
}
.zt1-hot .zt1-hot-r-img{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  width: 3.95rem;
  height: 3.95rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.zt1-hot .zt1-hot-r i {
  position: absolute;
  top: 0.47rem;
  right: 0.48rem;
  width: 1.36rem;
  height: 2.02rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-hot .zt1-hot-r p {
  position: absolute;
  right: 0.31rem;
  top: 3.58rem;
  width: 1.8rem;
  height: 1rem;
  padding: 0.4rem 0;
  background-image: url(../images/zt-1/hot-b@3x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-hot .zt1-hot-r p span {
  display: block;
  font-size: 0.4rem;
  line-height: 0.46rem;
  text-align: center;
  color: #fff;
}
.zt1-hot .zt1-hot-font {
  position: absolute;
  bottom: 0;
  left: .4rem;
  width: 6.7rem;
  font-size: 0.28rem;
  line-height: 0.43rem;
  color: #888888;
  text-align: justify;
}
.zt1-evaluate {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/zt-1/evaluate5.png);
  padding: 0.51rem 0 0;
  text-align: center;
}
.zt1-evaluate h2 {
  display: inline-block;
  vertical-align: top;
  min-width: 3.2rem;
  height: 0.74rem;
  line-height: 0.74rem;
  font-size: 0.28rem;
  text-align: center;
  color: #888888;
  background-image: url(../images/zt-1/evaluate0.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-evaluate .zt1-evaluate-img {
  display: block;
  margin: 0.5rem auto;
  width: 6.92rem;
  height: 3.51rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.zt1-evaluate .zt1-cell {
  position: relative;
  padding: 0.15rem 0.5rem 0.6rem;
  height: 1.44rem;
}

.zt1-evaluate .zt1-cell div:nth-child(1) {
  width: 1.44rem;
  height: 1.44rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-evaluate .zt1-cell div:nth-child(2) {
  position: relative;
  margin-top: -0.1rem;
  overflow: hidden;
  padding-top: 0.1rem;
  width: 4.5rem;
  height: 1.44rem;
  font-size: 0.26rem;
  line-height: 0.36rem;
  color: #000;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: justify;
}
.zt1-evaluate .zt1-cell div:nth-child(2):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.02rem;
  width: 0.26rem;
  height: 0.05rem;
  background-color: #94e0d6;
}
.zt1-evaluate .zt1-cell:nth-of-type(2n-1) div:nth-child(2),
.zt1-evaluate .zt1-cell:nth-of-type(2n) div:nth-child(1) {
  float: right;
}
.zt1-evaluate .zt1-cell:nth-of-type(2n-1) div:nth-child(1),
.zt1-evaluate .zt1-cell:nth-of-type(2n) div:nth-child(2) {
  float: left;
  margin-right: 0.48rem;
}
.line-pink {
  width: 100%;
  height: 0.1rem;
  background-color: #fff4f8;
  margin: 0.05rem 0 0.06rem;
}
.zt1-proposal {
  padding-top: 0.5rem;
  border-top: 0.03rem solid #fff4f8;
  border-bottom: 0.1rem solid #fff4f8;
  margin-bottom: 0.1rem;
  text-align: center;
}
.zt1-proposal h2 {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.4rem;
  min-width: 2.4rem;
  height: 0.74rem;
  line-height: 0.74rem;
  font-size: 0.28rem;
  text-align: center;
  color: #888888;
  background-image: url(../images/zt-1/evaluate0.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-proposal .zt1-proposal-box {
  position: relative;
  padding: 0.5rem 0.4rem;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}
.zt1-proposal .zt1-proposal-box:before {
  content: "";
  position: absolute;
  top: -0.52rem;
  left: 0.35rem;
  width: 1.27rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-proposal .zt1-proposal-cell {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  width: 3.08rem;
}
.zt1-proposal .zt1-proposal-cell .zt1-proposal-img {
  width: 2.7rem;
  height: 2.7rem;
  margin: 0 auto 0.24rem;
  background-image: url(../images/zt-1/proposal3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-proposal .zt1-proposal-cell .zt1-proposal-img i{
  display: block;
  width: 2.58rem;
  height: 2.58rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.zt1-proposal .zt1-proposal-cell h3 {
  height: 0.4rem;
  font-size: 0.28rem;
  line-height: 0.4rem;
  margin-bottom: 0.28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}
.zt1-proposal .zt1-proposal-cell p {
  padding: 0 0.1rem;
  font-size: 0.22rem;
  line-height: 0.34rem;
  color: #888888;
  text-align: justify;
}
.zt1-time {
  overflow: hidden;
  position: relative;
  background-color: #F9F9F9;
  padding-top: 0.6rem;
  padding-bottom: 0.35rem;
  text-align: center;
}
.zt1-time-crown{
  z-index: 10;
  position: absolute;
  top: -0.96rem;
  left: 0;
  width: 0.88rem;
  height: 0.96rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/zt-1/time0.png);
}

.zt1-time h2 {
  display: inline-block;
  vertical-align: top;
  min-width: 3.2rem;
  height: 0.74rem;
  line-height: 0.74rem;
  font-size: 0.28rem;
  text-align: center;
  color: #888888;
  background-image: url(../images/zt-1/evaluate0.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.5rem;
}
.zt1-time .zt1-item {
  margin-bottom: 0.18rem;
  padding: 0 0.3rem;
  height: 1.4rem;
}
.zt1-time .zt1-item .zt1-item-l {
  float: left;
  width: 1.1rem;
  height: 1.1rem;
  padding: 0.15rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/zt-1/time-p.png);
  margin-right: 0.2rem;
}
.zt1-time .zt1-item .zt1-item-l img {
  display: block;
  width: 1.1rem;
  height: 1.1rem;
}
.zt1-time .zt1-item .zt1-item-c {
  position: relative;
  float: left;
  width: 2.42rem;
  height: 1.4rem;
}
.zt1-time .zt1-item .zt1-item-c h3 {
  max-height: 0.56rem;
  font-size: 0.2rem;
  line-height: 0.28rem;
  margin-bottom: 0.04rem;
  color: #999999;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}
.zt1-time .zt1-item .zt1-item-c p {
  max-height: 0.48rem;
  color: #999999;
  font-size: 0.2rem;
  line-height: 0.24rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}
.zt1-time .zt1-item .zt1-item-c time {
  position: absolute;
  bottom: 0.03rem;
  left: 0;
  width: 3rem;
  height: 0.29rem;
  line-height: 0.29rem;
  text-align: left;
  color: #999999;
  font-size: 0.24rem;
}
.zt1-time .zt1-item .zt1-item-r {
  position: relative;
  float: right;
  width: 2.72rem;
  height: 1.4rem;
}
.zt1-time .zt1-item .zt1-item-r span {
  position: absolute;
  top: 0.1rem;
  width: 0.34rem;
  height: 0.5rem;
  line-height: 0.48rem;
  color: #999999;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #979797;
}
.zt1-time .zt1-item .zt1-item-r span:nth-of-type(1) {
  left: 0rem;
}
.zt1-time .zt1-item .zt1-item-r span:nth-of-type(2) {
  left: 0.4rem;
}
.zt1-time .zt1-item .zt1-item-r span:nth-of-type(3) {
  left: 0.96rem;
}
.zt1-time .zt1-item .zt1-item-r span:nth-of-type(4) {
  left: 1.36rem;
}
.zt1-time .zt1-item .zt1-item-r span:nth-of-type(5) {
  left: 1.92rem;
}
.zt1-time .zt1-item .zt1-item-r span:nth-of-type(6) {
  left: 2.32rem;
}
.zt1-time .zt1-item .zt1-item-r i {
  position: absolute;
  top: 0.69rem;
  width: 0.76rem;
  height: 0.2rem;
  line-height: 0.2rem;
  text-align: center;
  font-size: 0.14rem;
  color: #999999;
}
.zt1-time .zt1-item .zt1-item-r i:nth-of-type(1) {
  display: none;
}
.zt1-time .zt1-item .zt1-item-r i:nth-of-type(2) {
  left: 0;
}
.zt1-time .zt1-item .zt1-item-r i:nth-of-type(3) {
  left: 0.96rem;
}
.zt1-time .zt1-item .zt1-item-r i:nth-of-type(4) {
  left: 1.92rem;
}
.zt1-time .zt1-item .is-has-day i:nth-of-type(1) {
  display: block;
  left: 0;
}
.zt1-time .zt1-item .is-has-day i:nth-of-type(2) {
  left: 0.96rem;
}
.zt1-time .zt1-item .is-has-day i:nth-of-type(3) {
  left: 1.92rem;
}
.zt1-time .zt1-item .is-has-day i:nth-of-type(4) {
  display: none;
}
.zt1-time .zt1-item.active {
  position: relative;
}
.zt1-time .zt1-item.active:after {
  content: "";
  position: absolute;
  top: -0.36rem;
  left: 0;
  width: 0.88rem;
  height: 0.96rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/zt-1/time0.png);
}
.zt1-time .zt1-item.active .zt1-item-l {
  background-image: url(../images/zt-1/time-r.png);
}
.zt1-time .zt1-item.active .zt1-item-c h3,
.zt1-time .zt1-item.active .zt1-item-c p,
.zt1-time .zt1-item.active .zt1-item-c time {
  color: #000;
}
.zt1-time .zt1-item.active .zt1-item-r span {
  color: #d0021b;
}
.zt1-time .zt1-item.active .zt1-item-r i {
  color: #000;
}
.zt1-other {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/zt-1/other-b.png);
  text-align: center;
  padding-top: 0.49rem;
}
.zt1-other h2 {
  display: inline-block;
  vertical-align: top;
  min-width: 3.2rem;
  height: 0.74rem;
  line-height: 0.74rem;
  font-size: 0.28rem;
  text-align: center;
  color: #888888;
  background-image: url(../images/zt-1/evaluate0.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.zt1-other ul {
  padding: 0.5rem 0.71rem 0.12rem 0.71rem;
}
.zt1-other ul li {
  width: 2.92rem;
  padding-bottom: 0.4rem;
}
.zt1-other ul li:nth-child(2n-1) {
  float: left;
}
.zt1-other ul li:nth-child(2n) {
  float: right;
}
.zt1-other ul li .zt1-other-img {
  width: 2.72rem;
  height: 2.72rem;
  margin: 0 auto 0.16rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/zt-1/other0.png);
}
.zt1-other ul li .zt1-other-img img {
  display: block;
  width: 2.58rem;
  height: 2.58rem;
}
.zt1-other ul li h3 {
  overflow: hidden;
  height: 0.29rem;
  text-overflow: ellipsis;
  font-size: 0.24rem;
  line-height: 0.29rem;
  margin-bottom: 0.1rem;
  color: #000;
  text-align: center;
}
.zt1-other ul li p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 0.26rem;
  font-size: 0.22rem;
  line-height: 0.26rem;
  text-align: center;
  color: #000;
}
.zt1-rule {
  text-align: center;
  padding-top: 0.49rem;
  padding-bottom: 0.5rem;
}
.zt1-rule h2 {
  display: inline-block;
  vertical-align: top;
  min-width: 3.2rem;
  height: 0.74rem;
  line-height: 0.74rem;
  font-size: 0.28rem;
  text-align: center;
  color: #888888;
  background-image: url(../images/zt-1/evaluate0.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.5rem;
}
.zt1-rule p {
  width: 6.7rem;
  text-align: left;
  margin: 0 auto;
  font-size: 0.22rem;
  line-height: 0.35rem;
  color: #000;
}
.zt1-end {
  background-color: #F9F9F9;
  padding: 0.5rem 0.4rem;
  text-align: center;
}
.zt1-end .zt1-icon {
  display: block;
  margin: 0 auto;
  width: 2.1rem;
  height: 0.35rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/zt-1/end.png);
}
.zt1-end .zt1-icon:last-child {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.zt1-end p {
  margin: 0.2rem 0;
  font-size: 0.2rem;
  line-height: 0.36rem;
  color: #000;
}

/*专题切换 start*/
.zt-body-2 .zt1-top aside{
  margin-left: -0.95rem;
  width: 1.90rem;
  height: 0.42rem;
  background-image: url(../images/zt-2/top-b.png);
}
.zt-body-3 .zt1-top aside{
  margin-left: -0.95rem;
  width: 1.99rem;
  height: 0.42rem;
  background-image: url(../images/zt-3/top-b.png);
}
.zt-body-4 .zt1-top aside{
  margin-left: -0.95rem;
  width: 1.95rem;
  height: 0.49rem;
  background-image: url(../images/zt-4/top-b.png);
}
.zt-body-5 .zt1-top aside{
  margin-left: -0.95rem;
  width: 1.46rem;
  height: 0.42rem;
  background-image: url(../images/zt-5/top-b.png);
}


.zt-body-2 .zt1-hot-r-img{
  background-image: url(../images/zt-2/hot-r.png);
}
.zt-body-3 .zt1-hot-r-img{
  background-image: url(../images/zt-3/hot-r.png);
}
.zt-body-4 .zt1-hot-r-img{
  background-image: url(../images/zt-4/hot-r.png);
}
.zt-body-5 .zt1-hot-r-img{
  background-image: url(../images/zt-5/hot-r.png);
}

.zt-body-2 .zt1-hot .zt1-hot-r i{
  background-image: url(../images/zt-2/hot-t.png);
}
.zt-body-3 .zt1-hot .zt1-hot-r i{
  background-image: url(../images/zt-3/hot-t.png);
}
.zt-body-4 .zt1-hot .zt1-hot-r i{
  background-image: url(../images/zt-4/hot-t.png);
}
.zt-body-5 .zt1-hot .zt1-hot-r i{
  background-image: url(../images/zt-5/hot-t.png);
}

.zt-body-2 .zt1-evaluate .zt1-evaluate-img{
  background-image: url(../images/zt-2/evaluate1.jpg);
}
.zt-body-3 .zt1-evaluate .zt1-evaluate-img{
  background-image: url(../images/zt-3/evaluate1.jpg);
}
.zt-body-4 .zt1-evaluate .zt1-evaluate-img{
  background-image: url(../images/zt-4/evaluate1.jpg);
}
.zt-body-5 .zt1-evaluate .zt1-evaluate-img{
  height: 4.81rem;
  background-image: url(../images/zt-5/evaluate1.jpg);
}

.zt-body-2 .zt1-cell1 div:nth-child(1){
  background-image: url(../images/zt-2/evaluate2.png);
}
.zt-body-2 .zt1-cell2 div:nth-child(1){
  background-image: url(../images/zt-2/evaluate3.png);
}
.zt-body-2 .zt1-cell3 div:nth-child(1){
  background-image: url(../images/zt-2/evaluate4.png);
}
.zt-body-3 .zt1-cell1 div:nth-child(1){
  background-image: url(../images/zt-3/evaluate2.png);
}
.zt-body-3 .zt1-cell2 div:nth-child(1){
  background-image: url(../images/zt-3/evaluate3.png);
}
.zt-body-3 .zt1-cell3 div:nth-child(1){
  background-image: url(../images/zt-3/evaluate4.png);
}
.zt-body-4 .zt1-cell1 div:nth-child(1){
  background-image: url(../images/zt-4/evaluate2.png);
}
.zt-body-4 .zt1-cell2 div:nth-child(1){
  background-image: url(../images/zt-4/evaluate3.png);
}
.zt-body-4 .zt1-cell3 div:nth-child(1){
  background-image: url(../images/zt-4/evaluate4.png);
}
.zt-body-5 .zt1-cell1 div:nth-child(1){
  background-image: url(../images/zt-5/evaluate2.png);
}
.zt-body-5 .zt1-cell2 div:nth-child(1){
  background-image: url(../images/zt-5/evaluate3.png);
}
.zt-body-5 .zt1-cell3 div:nth-child(1){
  background-image: url(../images/zt-5/evaluate4.png);
}

.zt-body-2 .zt1-proposal-box:before{
  background-image: url(../images/zt-2/proposal0.png);
}
.zt-body-3 .zt1-proposal-box:before{
  background-image: url(../images/zt-3/proposal0.png);
}
.zt-body-4 .zt1-proposal-box:before{
  background-image: url(../images/zt-4/proposal0.png);
}
.zt-body-5 .zt1-proposal-box:before{
  background-image: url(../images/zt-5/proposal0.png);
}

.zt-body-2 .zt1-proposal-cell:nth-of-type(1) .zt1-proposal-img i{
  background-image: url(../images/zt-2/proposal1.jpg);
}
.zt-body-2 .zt1-proposal-cell:nth-of-type(2) .zt1-proposal-img i{
  background-image: url(../images/zt-2/proposal2.jpg);
}
.zt-body-3 .zt1-proposal-cell:nth-of-type(1) .zt1-proposal-img i{
  background-image: url(../images/zt-3/proposal1.jpg);
}
.zt-body-3 .zt1-proposal-cell:nth-of-type(2) .zt1-proposal-img i{
  background-image: url(../images/zt-3/proposal2.jpg);
}
.zt-body-4 .zt1-proposal-cell:nth-of-type(1) .zt1-proposal-img i{
  background-image: url(../images/zt-4/proposal1.jpg);
}
.zt-body-4 .zt1-proposal-cell:nth-of-type(2) .zt1-proposal-img i{
  background-image: url(../images/zt-4/proposal2.jpg);
}
.zt-body-5 .zt1-proposal-cell:nth-of-type(1) .zt1-proposal-img i{
  background-image: url(../images/zt-5/proposal1.jpg);
}
.zt-body-5 .zt1-proposal-cell:nth-of-type(2) .zt1-proposal-img i{
  background-image: url(../images/zt-5/proposal2.jpg);
}
/*专题切换 end*/

/*动画 start --关闭
.zt1-time-crown{
  -webkit-transition: top 2.6s;
  transition: top 2.6s;
}
.zt1-evaluate .zt1-cell{
  visibility: hidden;
}
.zt1-proposal .zt1-proposal-cell .zt1-proposal-an{
  visibility: hidden;
}
.zt1-proposal .zt1-proposal-cell .zt1-proposal-img{
  visibility: hidden;
}
.zt1-other li{
  visibility: hidden;
}


.zt1-evaluate.animate .zt1-cell:nth-of-type(2n-1){
  visibility: visible;
  -webkit-animation:fadeInLeftBig 1s 0s ease both;
  -moz-animation:fadeInLeftBig 1s 0s ease both;
}
.zt1-evaluate.animate .zt1-cell:nth-of-type(2n){
  visibility: visible;
  -webkit-animation:fadeInRightBig 1s 0s ease both;
  -moz-animation:fadeInRightBig 1s 0s ease both;
}


.zt1-proposal.animate .zt1-proposal-cell:nth-of-type(1) .zt1-proposal-img{
  visibility: visible;
  -webkit-animation:fadeInDown 1s 0s ease both;
  -moz-animation:fadeInDown 1s 0s ease both;
}
.zt1-proposal.animate .zt1-proposal-cell:nth-of-type(1) .zt-proposal-an{
  visibility: visible;
  -webkit-animation:fadeInUp 1s 1s ease both;
  -moz-animation:fadeInUp 1s 1s ease both;
}
.zt1-proposal.animate .zt1-proposal-cell:nth-of-type(2) .zt1-proposal-img{
  visibility: visible;
  -webkit-animation:fadeInDown 1s 2s ease both;
  -moz-animation:fadeInDown 1s 2s ease both;
}
.zt1-proposal.animate .zt1-proposal-cell:nth-of-type(2) .zt-proposal-an{
  visibility: visible;
  -webkit-animation:fadeInUp 1s 3s ease both;
  -moz-animation:fadeInUp 1s 3s ease both;
}

.zt-body-1 .zt1-time.animate .zt1-time-crown{
  top: 1.49rem;
}
.zt-body-2 .zt1-time.animate .zt1-time-crown{
  top: 3.07rem;
}
.zt-body-3 .zt1-time.animate .zt1-time-crown{
  top: 4.65rem;
}
.zt-body-4 .zt1-time.animate .zt1-time-crown{
  top: 6.23rem;
}
.zt-body-5 .zt1-time.animate .zt1-time-crown{
  top: 7.81rem;
}

.zt1-other.animate li{
  visibility: visible;
}
.zt1-other.animate li:nth-child(1){
  -webkit-animation:fadeInUp 1s 0s ease both;
  -moz-animation:fadeInUp 1s 0s ease both;
}
.zt1-other.animate li:nth-child(2){
  -webkit-animation:fadeInUp 1s 1s ease both;
  -moz-animation:fadeInUp 1s 1s ease both;
}
.zt1-other.animate li:nth-child(3){
  -webkit-animation:fadeInUp 1s 2s ease both;
  -moz-animation:fadeInUp 1s 2s ease both;
}
.zt1-other.animate li:nth-child(4){
  -webkit-animation:fadeInUp 1s 3s ease both;
  -moz-animation:fadeInUp 1s 3s ease both;
}
--动画 end*/

/**/

@-webkit-keyframes fadeInRightBig{
0%{opacity:0;
-webkit-transform:translateX(2000px)}
100%{opacity:1;
-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInRightBig{
0%{opacity:0;
-moz-transform:translateX(2000px)}
100%{opacity:1;
-moz-transform:translateX(0)}
}

@-webkit-keyframes fadeInLeftBig{
0%{opacity:0;
-webkit-transform:translateX(-2000px)}
100%{opacity:1;
-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInLeftBig{
0%{opacity:0;
-moz-transform:translateX(-2000px)}
100%{opacity:1;
-moz-transform:translateX(0)}
}

@-webkit-keyframes fadeInDown{
0%{opacity:0;
-webkit-transform:translateY(-20px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
0%{opacity:0;
-moz-transform:translateY(-20px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}

@-webkit-keyframes fadeInUp{
0%{opacity:0;
-webkit-transform:translateY(20px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
0%{opacity:0;
-moz-transform:translateY(20px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}